<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.task.dao.AgvZoneRecordMapper">
    
    <resultMap type="com.deer.wcs.task.model.AgvZoneRecord" id="AgvZoneRecordResult">
        <result property="id"    column="id"    />
        <result property="wareCode"    column="ware_code"    />
        <result property="wareName"    column="ware_name"    />
        <result property="code"    column="code"    />
        <result property="agvType"    column="agv_type"    />
        <result property="eventType"    column="event_type"    />
        <result property="state"    column="state"    />
        <result property="createTime"    column="create_time"    />
        <result property="memo"    column="memo"    />
    </resultMap>

    <resultMap id="Dto" extends="AgvZoneRecordResult"  type="com.deer.wcs.task.model.AgvZoneRecordDto" >
    </resultMap>

    <sql id="selectAgvZoneRecordVo">
        select id, ware_code, ware_name, code, agv_type, event_type, state, create_time, memo from agv_zone_record
    </sql>

    <select id="findFirstState0" resultMap="AgvZoneRecordResult">
        select * from agv_zone_record where state=0 order by id asc limit 1
    </select>

    <select id="findList" parameterType="com.deer.wcs.task.model.AgvZoneRecordCriteria" resultMap="Dto">
        <include refid="selectAgvZoneRecordVo"/>
        <where>  
            <if test="wareCode != null  and wareCode != ''"> and ware_code = #{wareCode}</if>
            <if test="wareName != null  and wareName != ''"> and ware_name like concat('%', #{wareName}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="agvType != null  and agvType != ''"> and agv_type = #{agvType}</if>
            <if test="eventType != null "> and event_type = #{eventType}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="memo != null  and memo != ''"> and memo = #{memo}</if>
        </where>
        order by id desc
    </select>
    
    <select id="selectAgvZoneRecordById" parameterType="Long" resultMap="AgvZoneRecordResult">
        <include refid="selectAgvZoneRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAgvZoneRecord" parameterType="com.deer.wcs.task.model.AgvZoneRecord" useGeneratedKeys="true" keyProperty="id">
        insert into agv_zone_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wareCode != null">ware_code,</if>
            <if test="wareName != null">ware_name,</if>
            <if test="code != null">code,</if>
            <if test="agvType != null">agv_type,</if>
            <if test="eventType != null">event_type,</if>
            <if test="state != null">state,</if>
            <if test="createTime != null">create_time,</if>
            <if test="memo != null">memo,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wareCode != null">#{wareCode},</if>
            <if test="wareName != null">#{wareName},</if>
            <if test="code != null">#{code},</if>
            <if test="agvType != null">#{agvType},</if>
            <if test="eventType != null">#{eventType},</if>
            <if test="state != null">#{state},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="memo != null">#{memo},</if>
         </trim>
    </insert>

    <update id="updateAgvZoneRecord" parameterType="com.deer.wcs.task.model.AgvZoneRecord">
        update agv_zone_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="wareCode != null">ware_code = #{wareCode},</if>
            <if test="wareName != null">ware_name = #{wareName},</if>
            <if test="code != null">code = #{code},</if>
            <if test="agvType != null">agv_type = #{agvType},</if>
            <if test="eventType != null">event_type = #{eventType},</if>
            <if test="state != null">state = #{state},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="memo != null">memo = #{memo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAgvZoneRecordById" parameterType="Long">
        delete from agv_zone_record where id = #{id}
    </delete>

    <delete id="deleteAgvZoneRecordByIds" parameterType="String">
        delete from agv_zone_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>