<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.task.dao.CallBoxInfoMapper">
    
    <resultMap type="com.deer.wcs.task.model.callBoxLG.CallBoxInfo" id="CallBoxInfoResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="btn"    column="btn"    />
        <result property="ip"    column="ip"    />
        <result property="btnState"    column="btn_state"    />
        <result property="state"    column="state"    />
        <result property="handId"    column="hand_id"    />
        <result property="positionCode"    column="position_code"    />
        <result property="wareCode"    column="ware_code"    />
        <result property="wareName"    column="ware_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deviceId"    column="device_id"    />
    </resultMap>

    <resultMap id="Dto" extends="CallBoxInfoResult"  type="com.deer.wcs.task.model.callBoxLG.CallBoxInfoDto" >
    </resultMap>

    <sql id="selectCallBoxInfoVo">
        select * from call_box_info
    </sql>

    <select id="findList" parameterType="com.deer.wcs.task.model.callBoxLG.CallBoxInfoCriteria" resultMap="Dto">
        select call_box_info.*
        ,handle.name as handleName
        from call_box_info call_box_info
        left join handle handle on call_box_info.hand_id =handle.id
        <where>  
            <if test="code != null  and code != ''"> and call_box_info.code = #{code}</if>
            <if test="name != null  and name != ''"> and call_box_info.name like concat('%', #{name}, '%')</if>
            <if test="btn != null  and btn != ''"> and call_box_info.btn = #{btn}</if>
            <if test="btnState != null "> and call_box_info.btn_state = #{btnState}</if>
            <if test="ip != null "> and call_box_info.ip = #{ip}</if>
            <if test="state != null "> and call_box_info.state = #{state}</if>
            <if test="handId != null "> and call_box_info.hand_id = #{handId}</if>
            <if test="positionCode != null  and positionCode != ''"> and call_box_info.position_code = #{positionCode}</if>
            <if test="wareCode != null  and wareCode != ''"> and call_box_info.ware_code = #{wareCode}</if>
            <if test="wareName != null  and wareName != ''"> and call_box_info.ware_name = #{wareName}</if>
            <if test="delFlag != null"> and call_box_info.del_flag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectCallBoxInfoById" parameterType="Long" resultMap="CallBoxInfoResult">
        <include refid="selectCallBoxInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCallBoxInfo" parameterType="com.deer.wcs.task.model.callBoxLG.CallBoxInfo" useGeneratedKeys="true" keyProperty="id">
        insert into call_box_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="btn != null">btn,</if>
            <if test="btnState != null">btn_state,</if>
            <if test="ip != null">ip,</if>
            <if test="state != null">state,</if>
            <if test="handId != null">hand_id,</if>
            <if test="positionCode != null">position_code,</if>
            <if test="wareCode != null">ware_code,</if>
            <if test="wareName != null">ware_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="btn != null">#{btn},</if>
            <if test="btnState != null">#{btnState},</if>
            <if test="ip != null">#{ip},</if>
            <if test="state != null">#{state},</if>
            <if test="handId != null">#{handId},</if>
            <if test="positionCode != null">#{positionCode},</if>
            <if test="wareCode != null">#{wareCode},</if>
            <if test="wareName != null">#{wareName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCallBoxInfo" parameterType="com.deer.wcs.task.model.callBoxLG.CallBoxInfo">
        update call_box_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="btn != null">btn = #{btn},</if>
            <if test="btnState != null">btn_state = #{btnState},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="state != null">state = #{state},</if>
            <if test="handId != null">hand_id = #{handId},</if>
            <if test="positionCode != null">position_code = #{positionCode},</if>
            <if test="wareCode != null">ware_code = #{wareCode},</if>
            <if test="wareName != null">ware_name = #{wareName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCallBoxInfoById" parameterType="Long">
        delete from call_box_info where id = #{id}
    </delete>

    <delete id="deleteCallBoxInfoByIds" parameterType="String">
        delete from call_box_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>