<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.task.dao.CodeScannerInfoMapper">
    
    <resultMap type="com.deer.wcs.task.model.CodeScanner.CodeScannerInfo" id="SmqInfoResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="value"    column="value"    />
        <result property="wareCode"    column="ware_code"    />
        <result property="wareName"    column="ware_name"    />
        <result property="positionCode"    column="position_code"    />
        <result property="handId"    column="hand_id"    />
        <result property="state"    column="state"    />
        <result property="isNext"    column="is_next"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap id="Dto" extends="SmqInfoResult"  type="com.deer.wcs.task.model.CodeScanner.CodeScannerInfoDto" >
    </resultMap>

    <sql id="selectSmqInfoVo">
        select * from code_scanner_info
    </sql>

    <select id="findList" parameterType="com.deer.wcs.task.model.CodeScanner.CodeScannerInfoCriteria" resultMap="Dto">
        select code_scanner_info.*,handle.name as handleName
        from code_scanner_info
        left join handle on code_scanner_info.hand_id =handle.id
        <where>  
            <if test="code != null  and code != ''"> and code_scanner_info.code = #{code}</if>
            <if test="name != null  and name != ''"> and code_scanner_info.name like concat('%', #{name}, '%')</if>
            <if test="value != null  and value != ''"> and code_scanner_info.value = #{value}</if>
            <if test="wareCode != null  and wareCode != ''"> and code_scanner_info.ware_code = #{wareCode}</if>
            <if test="wareName != null  and wareName != ''"> and ware_name = #{wareName}</if>
            <if test="positionCode != null  and positionCode != ''"> and code_scanner_info.position_code = #{positionCode}</if>
            <if test="handId != null "> and code_scanner_info.hand_id = #{handId}</if>
            <if test="state != null "> and code_scanner_info.state = #{state}</if>
            <if test="isNext != null "> and code_scanner_info.is_next = #{isNext}</if>
            <if test="delFlag != null  and delFlag != ''"> and code_scanner_info.del_flag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectSmqInfoById" parameterType="Long" resultMap="SmqInfoResult">
        <include refid="selectSmqInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSmqInfo" parameterType="com.deer.wcs.task.model.CodeScanner.CodeScannerInfo" useGeneratedKeys="true" keyProperty="id">
        insert into code_scanner_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="value != null">value,</if>
            <if test="wareCode != null">ware_code,</if>
            <if test="wareName != null">ware_name,</if>
            <if test="positionCode != null">position_code,</if>
            <if test="handId != null">hand_id,</if>
            <if test="state != null">state,</if>
            <if test="isNext != null">is_next,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="value != null">#{value},</if>
            <if test="wareCode != null">#{wareCode},</if>
            <if test="wareName != null">#{wareName},</if>
            <if test="positionCode != null">#{positionCode},</if>
            <if test="handId != null">#{handId},</if>
            <if test="state != null">#{state},</if>
            <if test="isNext != null">#{isNext},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSmqInfo" parameterType="com.deer.wcs.task.model.CodeScanner.CodeScannerInfo">
        update code_scanner_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="value != null">value = #{value},</if>
            <if test="wareCode != null">ware_code = #{wareCode},</if>
            <if test="wareName != null">ware_name = #{wareName},</if>
            <if test="positionCode != null">position_code = #{positionCode},</if>
            <if test="handId != null">hand_id = #{handId},</if>
            <if test="state != null">state = #{state},</if>
            <if test="isNext != null">is_next = #{isNext},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSmqInfoById" parameterType="Long">
        delete from code_scanner_info where id = #{id}
    </delete>

    <delete id="deleteSmqInfoByIds" parameterType="String">
        delete from code_scanner_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>