<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.task.dao.DeviceTaskResultMapper">
    
    <resultMap type="com.deer.wcs.task.model.DeviceTaskResult" id="DeviceTaskResultResult">
        <result property="id"    column="id"    />
        <result property="taskCode"    column="task_code"    />
        <result property="state"    column="state"    />
        <result property="node"    column="node"    />
        <result property="type"    column="type"    />
        <result property="createTime"    column="create_time"    />
        <result property="data"    column="data"    />
        <result property="fromDevice"    column="from_device"    />
    </resultMap>

    <resultMap id="Dto" extends="DeviceTaskResultResult"  type="com.deer.wcs.task.model.DeviceTaskResultDto" >
    </resultMap>

    <sql id="selectDeviceTaskResultVo">
        select id, task_code, state, node, type, create_time, data, from_device from device_task_result
    </sql>

    <select id="getFirstState0ByTaskCode" resultMap="DeviceTaskResultResult" parameterType="java.lang.String">
        select * from device_task_result
        where
        state = 0
        and task_code=#{taskCode}
        and create_time >= DATE_SUB(NOW(), INTERVAL 1 HOUR)
        order by id asc
        limit 1
    </select>
    
    <select id="getEarliestUnprocessedRecord" resultMap="DeviceTaskResultResult">
        select * from device_task_result
        where state = 0
        order by create_time asc, id asc
        limit 1
    </select>

    <select id="findList" parameterType="com.deer.wcs.task.model.DeviceTaskResultCriteria" resultMap="Dto">
        <include refid="selectDeviceTaskResultVo"/>
        <where>  
            <if test="taskCode != null  and taskCode != ''"> and task_code = #{taskCode}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="node != null  and node != ''"> and node = #{node}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="data != null  and data != ''"> and data = #{data}</if>
            <if test="fromDevice != null  and fromDevice != ''"> and from_device = #{fromDevice}</if>
        </where>
        order by id desc
    </select>
    
    <select id="selectDeviceTaskResultById" parameterType="Long" resultMap="DeviceTaskResultResult">
        <include refid="selectDeviceTaskResultVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDeviceTaskResult" parameterType="com.deer.wcs.task.model.DeviceTaskResult" useGeneratedKeys="true" keyProperty="id">
        insert into device_task_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskCode != null">task_code,</if>
            <if test="state != null">state,</if>
            <if test="node != null">node,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="data != null">data,</if>
            <if test="fromDevice != null">from_device,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskCode != null">#{taskCode},</if>
            <if test="state != null">#{state},</if>
            <if test="node != null">#{node},</if>
            <if test="type != null">#{type},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="data != null">#{data},</if>
            <if test="fromDevice != null">#{fromDevice},</if>
         </trim>
    </insert>

    <update id="updateDeviceTaskResult" parameterType="com.deer.wcs.task.model.DeviceTaskResult">
        update device_task_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskCode != null">task_code = #{taskCode},</if>
            <if test="state != null">state = #{state},</if>
            <if test="node != null">node = #{node},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="data != null">data = #{data},</if>
            <if test="fromDevice != null">from_device = #{fromDevice},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceTaskResultById" parameterType="Long">
        delete from device_task_result where id = #{id}
    </delete>

    <delete id="deleteDeviceTaskResultByIds" parameterType="String">
        delete from device_task_result where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>