<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.task.dao.PalletRecordMapper">
    
    <resultMap type="com.deer.wcs.task.model.PalletRecord" id="PalletRecordResult">
        <result property="id"    column="id"    />
        <result property="palletCode"    column="pallet_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="content"    column="content"    />
        <result property="wareCode"    column="ware_code"    />
        <result property="wareName"    column="ware_name"    />
    </resultMap>

    <resultMap id="Dto" extends="PalletRecordResult"  type="com.deer.wcs.task.model.PalletRecordDto" >
    </resultMap>

    <sql id="selectPalletRecordVo">
        select id, pallet_code, create_time, content, ware_code, ware_name from pallet_record
    </sql>

    <select id="findList" parameterType="com.deer.wcs.task.model.PalletRecordCriteria" resultMap="Dto">
        select * from pallet_record
        <where>  
            <if test="type != null  "> and type = #{type}</if>
            <if test="palletCode != null  and palletCode != ''"> and pallet_code = #{palletCode}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectPalletRecordById" parameterType="Long" resultMap="PalletRecordResult">
        <include refid="selectPalletRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPalletRecord" parameterType="com.deer.wcs.task.model.PalletRecord" useGeneratedKeys="true" keyProperty="id">
        insert into pallet_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="palletCode != null">pallet_code,</if>
            <if test="createTime != null">create_time,</if>
            <if test="content != null">content,</if>
            <if test="wareCode != null">ware_code,</if>
            <if test="wareName != null">ware_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="palletCode != null">#{palletCode},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="content != null">#{content},</if>
            <if test="wareCode != null">#{wareCode},</if>
            <if test="wareName != null">#{wareName},</if>
         </trim>
    </insert>

    <update id="updatePalletRecord" parameterType="com.deer.wcs.task.model.PalletRecord">
        update pallet_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="palletCode != null">pallet_code = #{palletCode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="content != null">content = #{content},</if>
            <if test="wareCode != null">ware_code = #{wareCode},</if>
            <if test="wareName != null">ware_name = #{wareName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePalletRecordById" parameterType="Long">
        delete from pallet_record where id = #{id}
    </delete>

    <delete id="deletePalletRecordByIds" parameterType="String">
        delete from pallet_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>