<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.task.dao.TaskInfoListHistoryMapper">
    
    <resultMap type="com.deer.wcs.task.model.TaskInfoListHistory" id="TaskInfoListHistoryResult">
        <result property="id"    column="id"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskNo"    column="task_no"    />
        <result property="wmsTaskNo"    column="wms_task_no"    />
        <result property="wareCode"    column="ware_code"    />
        <result property="wareName"    column="ware_name"    />
        <result property="areaCode"    column="area_code"    />
        <result property="areaName"    column="area_name"    />
        <result property="type"    column="type"    />
        <result property="palletCode"    column="pallet_code"    />
        <result property="fromCellCode"    column="from_cell_code"    />
        <result property="toCellCode"    column="to_cell_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="state"    column="state"    />
        <result property="version"    column="version"    />
        <result property="memo"    column="memo"    />
        <result property="palletType"    column="pallet_type"    />
        <result property="palletHeight"    column="pallet_height"    />
        <result property="palletWeight"    column="pallet_weight"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
    </resultMap>

    <resultMap id="Dto" extends="TaskInfoListHistoryResult"  type="com.deer.wcs.task.model.TaskInfoListHistoryDto" >
    </resultMap>

    <sql id="selectTaskInfoListHistoryVo">
        select id, task_id, task_no, wms_task_no, ware_code, ware_name, area_code, area_name, type, pallet_code, from_cell_code, to_cell_code, create_time, finish_time, state, version, memo, pallet_type, pallet_height, pallet_weight, remark1, remark2, remark3 from task_info_list_history
    </sql>

    <select id="findList" parameterType="com.deer.wcs.task.model.TaskInfoListHistoryCriteria" resultMap="Dto">
        <include refid="selectTaskInfoListHistoryVo"/>
        <where>  
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="taskNo != null  and taskNo != ''"> and task_no = #{taskNo}</if>
            <if test="wmsTaskNo != null  and wmsTaskNo != ''"> and wms_task_no = #{wmsTaskNo}</if>
            <if test="wareCode != null  and wareCode != ''"> and ware_code = #{wareCode}</if>
            <if test="wareName != null  and wareName != ''"> and ware_name like concat('%', #{wareName}, '%')</if>
            <if test="areaCode != null  and areaCode != ''"> and area_code = #{areaCode}</if>
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="palletCode != null  and palletCode != ''"> and pallet_code = #{palletCode}</if>
            <if test="fromCellCode != null  and fromCellCode != ''"> and from_cell_code = #{fromCellCode}</if>
            <if test="toCellCode != null  and toCellCode != ''"> and to_cell_code = #{toCellCode}</if>
            <if test="finishTime != null  and finishTime != ''"> and finish_time = #{finishTime}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="version != null "> and version = #{version}</if>
            <if test="memo != null  and memo != ''"> and memo = #{memo}</if>
            <if test="palletType != null  and palletType != ''"> and pallet_type = #{palletType}</if>
            <if test="palletHeight != null "> and pallet_height = #{palletHeight}</if>
            <if test="palletWeight != null "> and pallet_weight = #{palletWeight}</if>
            <if test="remark1 != null  and remark1 != ''"> and remark1 = #{remark1}</if>
            <if test="remark2 != null  and remark2 != ''"> and remark2 = #{remark2}</if>
            <if test="remark3 != null  and remark3 != ''"> and remark3 = #{remark3}</if>
        </where>
    </select>
    
    <select id="selectTaskInfoListHistoryById" parameterType="Long" resultMap="TaskInfoListHistoryResult">
        <include refid="selectTaskInfoListHistoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTaskInfoListHistory" parameterType="com.deer.wcs.task.model.TaskInfoListHistory" useGeneratedKeys="true" keyProperty="id">
        insert into task_info_list_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="taskNo != null and taskNo != ''">task_no,</if>
            <if test="wmsTaskNo != null">wms_task_no,</if>
            <if test="wareCode != null">ware_code,</if>
            <if test="wareName != null">ware_name,</if>
            <if test="areaCode != null">area_code,</if>
            <if test="areaName != null">area_name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="palletCode != null and palletCode != ''">pallet_code,</if>
            <if test="fromCellCode != null">from_cell_code,</if>
            <if test="toCellCode != null">to_cell_code,</if>
            <if test="createTime != null">create_time,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="state != null">state,</if>
            <if test="version != null">version,</if>
            <if test="memo != null">memo,</if>
            <if test="palletType != null">pallet_type,</if>
            <if test="palletHeight != null">pallet_height,</if>
            <if test="palletWeight != null">pallet_weight,</if>
            <if test="remark1 != null">remark1,</if>
            <if test="remark2 != null">remark2,</if>
            <if test="remark3 != null">remark3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="taskNo != null and taskNo != ''">#{taskNo},</if>
            <if test="wmsTaskNo != null">#{wmsTaskNo},</if>
            <if test="wareCode != null">#{wareCode},</if>
            <if test="wareName != null">#{wareName},</if>
            <if test="areaCode != null">#{areaCode},</if>
            <if test="areaName != null">#{areaName},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="palletCode != null and palletCode != ''">#{palletCode},</if>
            <if test="fromCellCode != null">#{fromCellCode},</if>
            <if test="toCellCode != null">#{toCellCode},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="state != null">#{state},</if>
            <if test="version != null">#{version},</if>
            <if test="memo != null">#{memo},</if>
            <if test="palletType != null">#{palletType},</if>
            <if test="palletHeight != null">#{palletHeight},</if>
            <if test="palletWeight != null">#{palletWeight},</if>
            <if test="remark1 != null">#{remark1},</if>
            <if test="remark2 != null">#{remark2},</if>
            <if test="remark3 != null">#{remark3},</if>
         </trim>
    </insert>

    <update id="updateTaskInfoListHistory" parameterType="com.deer.wcs.task.model.TaskInfoListHistory">
        update task_info_list_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="taskNo != null and taskNo != ''">task_no = #{taskNo},</if>
            <if test="wmsTaskNo != null">wms_task_no = #{wmsTaskNo},</if>
            <if test="wareCode != null">ware_code = #{wareCode},</if>
            <if test="wareName != null">ware_name = #{wareName},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="palletCode != null and palletCode != ''">pallet_code = #{palletCode},</if>
            <if test="fromCellCode != null">from_cell_code = #{fromCellCode},</if>
            <if test="toCellCode != null">to_cell_code = #{toCellCode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="state != null">state = #{state},</if>
            <if test="version != null">version = #{version},</if>
            <if test="memo != null">memo = #{memo},</if>
            <if test="palletType != null">pallet_type = #{palletType},</if>
            <if test="palletHeight != null">pallet_height = #{palletHeight},</if>
            <if test="palletWeight != null">pallet_weight = #{palletWeight},</if>
            <if test="remark1 != null">remark1 = #{remark1},</if>
            <if test="remark2 != null">remark2 = #{remark2},</if>
            <if test="remark3 != null">remark3 = #{remark3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskInfoListHistoryById" parameterType="Long">
        delete from task_info_list_history where id = #{id}
    </delete>

    <delete id="deleteTaskInfoListHistoryByIds" parameterType="String">
        delete from task_info_list_history where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>