package ${packageName}.web;

import com.deer.wcs.common.utils.DateUtil;
import java.util.List;
import javax.servlet.http.HttpServletResponse;
import org.springframework.security.access.prepost.PreAuthorize;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import com.deer.wcs.common.annotation.Log;
import com.deer.wcs.common.core.controller.BaseController;
import com.deer.wcs.common.core.domain.Result;
import com.deer.wcs.common.enums.BusinessType;
import ${packageName}.model.${ClassName};
import ${packageName}.model.${ClassName}Dto;
import ${packageName}.model.${ClassName}Criteria;
import ${packageName}.service.${ClassName}Service;
import com.deer.wcs.common.utils.poi.ExcelUtil;
#if($table.crud || $table.sub)
import com.deer.wcs.common.core.page.TableDataInfo;
#elseif($table.tree)
#end
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import io.swagger.annotations.ApiOperation;

/**
 * ${functionName}Controller
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Api("${functionName}")
@RestController
@RequestMapping("/${moduleName}/${businessName}")
public class ${ClassName}Controller extends BaseController
{
    @Autowired
    private ${ClassName}Service ${className}Service;

    /**
     * 查询${functionName}列表
     */
    @ApiOperation("查询${functionName}列表")
    //@PreAuthorize("@ss.hasPermi('${permissionPrefix}:list')")
    @GetMapping("/list")
#if($table.crud || $table.sub)
    public TableDataInfo list(${ClassName}Criteria Criteria)
    {
        startPage();
        List<${ClassName}Dto> list = ${className}Service.findList(Criteria);
        return getDataTable(list);
    }
#elseif($table.tree)
    public Result list(${ClassName} ${className})
    {
        List<${ClassName}> list = ${className}Service.select${ClassName}List(${className});
        return success(list);
    }
#end

    /**
     * 导出${functionName}列表
     */
    @ApiOperation("导出${functionName}列表")
    //@PreAuthorize("@ss.hasPermi('${permissionPrefix}:export')")
    @Log(title = "${functionName}", businessType = BusinessType.EXPORT)
    @PostMapping("/export")
    public void export(HttpServletResponse response, ${ClassName}Criteria criteria)
    {
        List<${ClassName}Dto> list = ${className}Service.findList(criteria);
        ExcelUtil<${ClassName}Dto> util = new ExcelUtil<${ClassName}Dto>(${ClassName}Dto.class);
        util.exportExcel(response, list, "${functionName}数据");
    }

    /**
     * 获取${functionName}详细信息
     */
    @ApiOperation("获取${functionName}详细信息")
    //@PreAuthorize("@ss.hasPermi('${permissionPrefix}:query')")
    @GetMapping(value = "/{${pkColumn.javaField}}")
    public Result getInfo(@PathVariable("${pkColumn.javaField}") ${pkColumn.javaType} ${pkColumn.javaField})
    {
        return success(${className}Service.findById(${pkColumn.javaField}));
    }

    /**
     * 新增${functionName}
     */
    @ApiOperation("新增${functionName}")
    //@PreAuthorize("@ss.hasPermi('${permissionPrefix}:add')")
    @Log(title = "${functionName}", businessType = BusinessType.INSERT)
    @PostMapping
    public Result add(@RequestBody ${ClassName} ${className})
    {
        #foreach ($column in $columns)
            #if($column.javaField =="createTime" )
        ${className}.setCreateTime(DateUtil.getNowDateTimeString());
            #end
            #if($column.javaField =="createUserId" )
        ${className}.setCreateUserId(getUserId());
            #end
            #if($column.javaField =="createUserName" )
        ${className}.setCreateUserName(getUsername());
            #end
         #end

        ${className}Service.save(${className});
        return toAjax(true);
    }

    /**
     * 修改${functionName}
     */
    @ApiOperation("修改${functionName}")
    //@PreAuthorize("@ss.hasPermi('${permissionPrefix}:edit')")
    @Log(title = "${functionName}", businessType = BusinessType.UPDATE)
    @PutMapping
    public Result edit(@RequestBody ${ClassName} ${className})
    {

         #foreach ($column in $columns)
            #if($column.javaField =="updateTime" )
         ${className}.setUpdateTime(DateUtil.getNowDateTimeString());
            #end
            #if($column.javaField =="updateUserId" )
         ${className}.setUpdateUserId(getUserId());
            #end
            #if($column.javaField =="updateUserName" )
         ${className}.setUpdateUserName(getUsername());
            #end
         #end


        return toAjax(${className}Service.update(${className}));
    }

    /**
     * 删除${functionName}
     */
    @ApiOperation("删除${functionName}")
    //@PreAuthorize("@ss.hasPermi('${permissionPrefix}:remove')")
    @Log(title = "${functionName}", businessType = BusinessType.DELETE)
	@DeleteMapping("/{${pkColumn.javaField}s}")
    public Result remove(@PathVariable ${pkColumn.javaType}[] ${pkColumn.javaField}s)
    {
        return toAjax(${className}Service.delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaField}s));
    }
}
