<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.CacheToAgvMapper">
    
    <resultMap type="com.deer.wcs.base.model.CacheToAgv" id="CacheToAgvResult">
        <result property="id"    column="id"    />
        <result property="agvCode"    column="agv_code"    />
        <result property="itemCode"    column="item_code"    />
        <result property="state"    column="state"    />
        <result property="taskId"    column="task_id"    />
    </resultMap>

    <resultMap id="Dto" extends="CacheToAgvResult"  type="com.deer.wcs.base.model.CacheToAgvDto" >
    </resultMap>

    <sql id="selectCacheToAgvVo">
        select id, agv_code, item_code, state, task_id from cache_to_agv
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.CacheToAgvCriteria" resultMap="Dto">
        <include refid="selectCacheToAgvVo"/>
        <where>  
            <if test="agvCode != null  and agvCode != ''"> and agv_code = #{agvCode}</if>
            <if test="itemCode != null  and itemCode != ''"> and item_code = #{itemCode}</if>
            <if test="state != null "> and state = #{state}</if>
        </where>
    </select>
    
    <select id="selectCacheToAgvById" parameterType="Integer" resultMap="CacheToAgvResult">
        <include refid="selectCacheToAgvVo"/>
        where id = #{id}
    </select>
    <select id="findCondition" resultType="com.deer.wcs.base.model.CacheToAgv">
        <include refid="selectCacheToAgvVo"/>
        <where>
            <if test="agvCode != null  and agvCode != ''"> and agv_code = #{agvCode}</if>
            <if test="itemCode != null  and itemCode != ''"> and item_code = #{itemCode}</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
        </where>
        limit 1
    </select>

    <insert id="insertCacheToAgv" parameterType="com.deer.wcs.base.model.CacheToAgv">
        insert into cache_to_agv
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="agvCode != null">agv_code,</if>
            <if test="itemCode != null">item_code,</if>
            <if test="state != null">state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="agvCode != null">#{agvCode},</if>
            <if test="itemCode != null">#{itemCode},</if>
            <if test="state != null">#{state},</if>
         </trim>
    </insert>

    <update id="updateCacheToAgv" parameterType="com.deer.wcs.base.model.CacheToAgv">
        update cache_to_agv
        <trim prefix="SET" suffixOverrides=",">
            <if test="agvCode != null">agv_code = #{agvCode},</if>
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="state != null">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCacheToAgvById" parameterType="Integer">
        delete from cache_to_agv where id = #{id}
    </delete>

    <delete id="deleteCacheToAgvByIds" parameterType="String">
        delete from cache_to_agv where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>