<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.CellRecordMapper">
    
    <resultMap type="com.deer.wcs.base.model.CellRecord" id="CellRecordResult">
        <result property="id"    column="id"    />
        <result property="cellId"    column="cell_id"    />
        <result property="cellCode"    column="cell_code"    />
        <result property="wareCode"    column="ware_code"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <resultMap id="Dto" extends="CellRecordResult"  type="com.deer.wcs.base.model.CellRecordDto" >
    </resultMap>

    <sql id="selectCellRecordVo">
        select id, cell_id, cell_code, ware_code, content, create_time from cell_record
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.CellRecordCriteria" resultMap="Dto">
        <include refid="selectCellRecordVo"/>
        <where>  
            <if test="cellId != null "> and cell_id = #{cellId}</if>
            <if test="cellCode != null  and cellCode != ''"> and cell_code = #{cellCode}</if>
            <if test="wareCode != null  and wareCode != ''"> and ware_code = #{wareCode}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
        ORDER BY id DESC
    </select>
    
    <select id="selectCellRecordById" parameterType="Long" resultMap="CellRecordResult">
        <include refid="selectCellRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCellRecord" parameterType="com.deer.wcs.base.model.CellRecord" useGeneratedKeys="true" keyProperty="id">
        insert into cell_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cellId != null">cell_id,</if>
            <if test="cellCode != null">cell_code,</if>
            <if test="wareCode != null">ware_code,</if>
            <if test="content != null">content,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cellId != null">#{cellId},</if>
            <if test="cellCode != null">#{cellCode},</if>
            <if test="wareCode != null">#{wareCode},</if>
            <if test="content != null">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateCellRecord" parameterType="com.deer.wcs.base.model.CellRecord">
        update cell_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="cellId != null">cell_id = #{cellId},</if>
            <if test="cellCode != null">cell_code = #{cellCode},</if>
            <if test="wareCode != null">ware_code = #{wareCode},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCellRecordById" parameterType="Long">
        delete from cell_record where id = #{id}
    </delete>

    <delete id="deleteCellRecordByIds" parameterType="String">
        delete from cell_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>