<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.CellInfoMapper">
    
    <resultMap type="com.deer.wcs.base.model.CellInfo" id="CellInfoResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="hostCode"    column="host_code"    />
        <result property="subCode"    column="sub_code"    />
        <result property="lineCode"    column="line_code"    />
        <result property="lineName"    column="line_name"    />
        <result property="x"    column="x"    />
        <result property="wareCode"    column="ware_code"    />
        <result property="wareName"    column="ware_name"    />
        <result property="y"    column="y"    />
        <result property="z"    column="z"    />
        <result property="areaCode"    column="area_code"    />
        <result property="areaName"    column="area_name"    />
        <result property="preCode"    column="pre_code"    />
        <result property="invenState"    column="inven_state"    />
        <result property="taskState"    column="task_state"    />
        <result property="disableState"    column="disable_state"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="version"    column="version"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="palletType"    column="pallet_type"    />
    </resultMap>

    <resultMap id="Dto" extends="CellInfoResult"  type="com.deer.wcs.base.model.CellInfoDto" >
    </resultMap>

    <sql id="selectCellInfoVo">
        select * from cell_info
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.CellInfoCriteria" resultMap="Dto">
        <include refid="selectCellInfoVo"/>
        <where>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="hostCode != null  and hostCode != ''"> and host_code = #{hostCode}</if>
            <if test="subCode != null  and subCode != ''"> and sub_code = #{subCode}</if>
            <if test="lineCode != null  and lineCode != ''"> and line_code = #{lineCode}</if>
            <if test="lineName != null  and lineName != ''"> and line_name like concat('%', #{lineName}, '%')</if>
            <if test="x != null  and x != ''"> and x = #{x}</if>
            <if test="wareCode != null  and wareCode != ''"> and ware_code = #{wareCode}</if>
            <if test="wareName != null  and wareName != ''"> and ware_name like concat('%', #{wareName}, '%')</if>
            <if test="y != null  and y != ''"> and y = #{y}</if>
            <if test="z != null  and z != ''"> and z = #{z}</if>
            <if test="areaCode != null  and areaCode != ''"> and area_code = #{areaCode}</if>
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="preCode != null  and preCode != ''"> and pre_code = #{preCode}</if>
            <if test="invenState != null  and invenState != ''"> and inven_state = #{invenState}</if>
            <if test="taskState != null  and taskState != ''"> and task_state = #{taskState}</if>
            <if test="disableState != null"> and disable_state = #{disableState}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
            <if test="updateUserId != null "> and update_user_id = #{updateUserId}</if>
            <if test="updateUserName != null  and updateUserName != ''"> and update_user_name like concat('%', #{updateUserName}, '%')</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="updateTime != null  and updateTime != ''"> and update_time like concat(#{updateTime},'%')</if>
            <if test="createTime != null  and createTime != ''"> and create_time like concat(#{createTime},'%')</if>
            <if test="abc != null  and abc != ''"> and abc = #{abc}</if>
        </where>
    </select>
    
    <select id="selectCellInfoById" parameterType="Integer" resultMap="CellInfoResult">
        <include refid="selectCellInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCellInfo" parameterType="com.deer.wcs.base.model.CellInfo">
        insert into cell_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="hostCode != null">host_code,</if>
            <if test="subCode != null">sub_code,</if>
            <if test="lineCode != null">line_code,</if>
            <if test="lineName != null">line_name,</if>
            <if test="x != null">x,</if>
            <if test="wareCode != null">ware_code,</if>
            <if test="wareName != null">ware_name,</if>
            <if test="y != null">y,</if>
            <if test="z != null">z,</if>
            <if test="areaCode != null">area_code,</if>
            <if test="areaName != null">area_name,</if>
            <if test="preCode != null">pre_code,</if>
            <if test="invenState != null">inven_state,</if>
            <if test="taskState != null">task_state,</if>
            <if test="disableState != null">disable_state,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUserId != null">update_user_id,</if>
            <if test="updateUserName != null">update_user_name,</if>
            <if test="version != null">version,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="palletType != null">pallet_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="hostCode != null">#{hostCode},</if>
            <if test="subCode != null">#{subCode},</if>
            <if test="lineCode != null">#{lineCode},</if>
            <if test="lineName != null">#{lineName},</if>
            <if test="x != null">#{x},</if>
            <if test="wareCode != null">#{wareCode},</if>
            <if test="wareName != null">#{wareName},</if>
            <if test="y != null">#{y},</if>
            <if test="z != null">#{z},</if>
            <if test="areaCode != null">#{areaCode},</if>
            <if test="areaName != null">#{areaName},</if>
            <if test="preCode != null">#{preCode},</if>
            <if test="invenState != null">#{invenState},</if>
            <if test="taskState != null">#{taskState},</if>
            <if test="disableState != null">#{disableState},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="version != null">#{version},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="palletType != null">#{palletType},</if>
         </trim>
    </insert>

    <update id="updateCellInfo" parameterType="com.deer.wcs.base.model.CellInfo">
        update cell_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="hostCode != null">host_code = #{hostCode},</if>
            <if test="subCode != null">sub_code = #{subCode},</if>
            <if test="lineCode != null">line_code = #{lineCode},</if>
            <if test="lineName != null">line_name = #{lineName},</if>
            <if test="x != null">x = #{x},</if>
            <if test="wareCode != null">ware_code = #{wareCode},</if>
            <if test="wareName != null">ware_name = #{wareName},</if>
            <if test="y != null">y = #{y},</if>
            <if test="z != null">z = #{z},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="preCode != null">pre_code = #{preCode},</if>
            <if test="invenState != null">inven_state = #{invenState},</if>
            <if test="taskState != null">task_state = #{taskState},</if>
            <if test="disableState != null">disable_state = #{disableState},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="updateUserName != null">update_user_name = #{updateUserName},</if>
            <if test="version != null">version = #{version},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="palletType != null">pallet_type = #{palletType},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="findFirstInCell" resultType="CellInfo">
        select * from cell_info
        where inven_state=1 and task_state = 0 and is_delete = 0  and disable_state=0
        order by IFNULL(in_time,'2001-01-01') limit 1
    </select>

    <delete id="deleteCellInfoById" parameterType="Integer">
        delete from cell_info where id = #{id}
    </delete>

    <delete id="deleteCellInfoByIds" parameterType="String">
        delete from cell_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据仓库和巷道编码查询库位列表（关联托盘信息） -->
    <select id="findByLineCodeWithPallet" resultMap="Dto">
        SELECT 
            c.*,
            p.code as pallet_code,
            p.is_empty as is_empty
        FROM 
            cell_info c
        LEFT JOIN 
            pallet_info p ON p.cell_code = c.code AND p.ware_code = c.ware_code
        WHERE 
            c.ware_code = #{wareCode}
            AND c.line_code = #{lineCode}
        ORDER BY 
            c.priority, c.y, c.z
    </select>
    <select id="find3dInventory" resultType="com.deer.wcs.base.model.CellInfoDto">
        SELECT
            c.code,
            p.code as pallet_code
        FROM
            cell_info c
        inner JOIN
            pallet_info p ON p.cell_code = c.code AND p.ware_code = c.ware_code
        WHERE
            c.ware_code = #{wareCode}
        ORDER BY
            c.line_code, c.priority, c.y, c.z
    </select>
    <select id="findByType" resultType="com.deer.wcs.base.model.CellInfo">
        select * from cell_info where ware_code = #{wareCode} and type = #{type}
    </select>

    <select id="findCanAllotCellsAsc" resultType="com.deer.wcs.base.model.CellInfo">
        select * from cell_info
                 <where>
                     and ware_code = #{wareCode}
                     and `code` not in (select from_cell_code from rcs_car_info)
                     and `type` = #{type}
                     and inven_state = 0
                     and task_state = 0
                     and disable_state = 0
                     and is_delete = 0
                     and is_error = 0
                     <if test="floorZ !=null and floorZ != ''">
                            and z = #{floorZ}
                     </if>
                 </where>
        order by z,priority desc,y,x
    </select>

    <select id="findCanAllotCellsDesc" resultType="com.deer.wcs.base.model.CellInfo">
        select * from cell_info
        <where>
            and ware_code = #{wareCode}
            and `code` not in (select from_cell_code from rcs_car_info)
            and `type` = #{type}
            and inven_state = 0
            and task_state = 0
            and disable_state = 0
            and is_delete = 0
            and is_error = 0
            <if test="floorZ !=null and floorZ != ''">
                and z = #{floorZ}
            </if>
        </where>
        order by z,priority DESC,y,x DESC
    </select>


    <select id="findCanStopCells" resultType="com.deer.wcs.base.model.CellInfo">
        select * from cell_info
        <where>
            and ware_code = #{wareCode}
            and `code` not in (select from_cell_code from rcs_car_info)
            and `type` = #{type}
            and task_state = 0
            and disable_state = 0
            and is_delete = 0
            and is_error = 0
            <if test="floorZ !=null and floorZ != ''">
                and z = #{floorZ}
            </if>
        </where>
        order by z, priority DESC, y, x DESC
    </select>

    <select id="findSxcCellByPriority" resultType="com.deer.wcs.base.model.CellInfo">
        select * from cell_info
        where disable_state = 0
          and is_delete = 0
          and is_error = 0
          and type = 0
          and ware_code = #{wareCode}
          and priority = #{priority}
          and x = #{x}
          and y IN(#{y}-1, #{y}+1)
          and z = #{z}
    </select>

</mapper>