<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.HandleMapper">
    
    <resultMap type="com.deer.wcs.base.model.Handle" id="HandleResult">
        <result property="id"    column="id"    />
        <result property="className"    column="class_name"    />
        <result property="methodName"    column="method_name"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="version"    column="version"    />
    </resultMap>

    <resultMap id="Dto" extends="HandleResult"  type="com.deer.wcs.base.model.HandleDto" >
    </resultMap>

    <sql id="selectHandleVo">
        select id, class_name, method_name, code, name,type,handle_type,create_time,create_user_id, create_user_name, update_time, update_user_id, update_user_name, is_delete, version,group_id,group_name from handle
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.HandleCriteria" resultMap="Dto">
        <include refid="selectHandleVo"/>
        <where>
            and is_delete = 0
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
            <if test="methodName != null  and methodName != ''"> and method_name like concat('%', #{methodName}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null"> and type = #{type}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
            <if test="updateTime != null  and updateTime != ''"> and update_time like concat(#{updateTime},'%')</if>
            <if test="createTime != null  and createTime != ''"> and create_time like concat(#{createTime},'%')</if>
            <if test="updateUserId != null "> and update_user_id = #{updateUserId}</if>
            <if test="updateUserName != null  and updateUserName != ''"> and update_user_name like concat('%', #{updateUserName}, '%')</if>
            <if test="groupId != null  "> and group_id = #{groupId}</if>
            <if test="groupName != null  and groupName != ''"> and group_name like concat('%', #{groupName}, '%')</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
        order by group_id ,code
    </select>
    
    <select id="selectHandleById" parameterType="Long" resultMap="HandleResult">
        <include refid="selectHandleVo"/>
        where id = #{id}
    </select>

    <select id="findHandleByType" resultType="com.deer.wcs.base.model.HandleDto">
        select handle.* from handle join handle_group on group_id = handle_group.id
                 where disable_state = 0
                   and handle.is_delete = 0
                   and handle_group.del_flag = 0
                   and handle.type = #{type}
                   and handle.handle_type = #{handleType}
        order by handle.group_id ,handle.code
    </select>

    <insert id="insertHandle" parameterType="com.deer.wcs.base.model.Handle">
        insert into handle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="className != null">class_name,</if>
            <if test="methodName != null">method_name,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="udpateTime != null">udpate_time,</if>
            <if test="udpateUserId != null">udpate_user_id,</if>
            <if test="updateUserName != null">update_user_name,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="version != null">version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="className != null">#{className},</if>
            <if test="methodName != null">#{methodName},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="udpateTime != null">#{udpateTime},</if>
            <if test="udpateUserId != null">#{udpateUserId},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="version != null">#{version},</if>
         </trim>
    </insert>

    <update id="updateHandle" parameterType="com.deer.wcs.base.model.Handle">
        update handle
        <trim prefix="SET" suffixOverrides=",">
            <if test="className != null">class_name = #{className},</if>
            <if test="methodName != null">method_name = #{methodName},</if>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="udpateTime != null">udpate_time = #{udpateTime},</if>
            <if test="udpateUserId != null">udpate_user_id = #{udpateUserId},</if>
            <if test="updateUserName != null">update_user_name = #{updateUserName},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="version != null">version = #{version},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHandleById" parameterType="Long">
        delete from handle where id = #{id}
    </delete>

    <delete id="deleteHandleByIds" parameterType="String">
        delete from handle where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>