<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.HandleGroupMapper">
    
    <resultMap type="com.deer.wcs.base.model.HandleGroup" id="HandleGroupResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="memo"    column="memo"    />
        <result property="disableState"    column="disable_state"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="version"    column="version"    />
    </resultMap>

    <resultMap id="Dto" extends="HandleGroupResult"  type="com.deer.wcs.base.model.HandleGroupDto" >
    </resultMap>

    <sql id="selectHandleGroupVo">
        select id, name, type, memo, disable_state, del_flag, create_time, create_user_id, create_user_name, update_time, update_user_id, update_user_name, version from handle_group
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.HandleGroupCriteria" resultMap="Dto">
        <include refid="selectHandleGroupVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null"> and type = #{type}</if>
            <if test="memo != null  and memo != ''"> and memo = #{memo}</if>
            <if test="disableState != null  and disableState != ''"> and disable_state = #{disableState}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
            <if test="updateUserId != null "> and update_user_id = #{updateUserId}</if>
            <if test="updateUserName != null  and updateUserName != ''"> and update_user_name like concat('%', #{updateUserName}, '%')</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="updateTime != null  and updateTime != ''"> and update_time like concat(#{updateTime},'%')</if>
            <if test="createTime != null  and createTime != ''"> and create_time like concat(#{createTime},'%')</if>
        </where>
    </select>
    
    <select id="selectHandleGroupById" parameterType="Long" resultMap="HandleGroupResult">
        <include refid="selectHandleGroupVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHandleGroup" parameterType="com.deer.wcs.base.model.HandleGroup" useGeneratedKeys="true" keyProperty="id">
        insert into handle_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="memo != null">memo,</if>
            <if test="disableState != null">disable_state,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUserId != null">update_user_id,</if>
            <if test="updateUserName != null">update_user_name,</if>
            <if test="version != null">version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="memo != null">#{memo},</if>
            <if test="disableState != null">#{disableState},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="version != null">#{version},</if>
         </trim>
    </insert>

    <update id="updateHandleGroup" parameterType="com.deer.wcs.base.model.HandleGroup">
        update handle_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="memo != null">memo = #{memo},</if>
            <if test="disableState != null">disable_state = #{disableState},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="updateUserName != null">update_user_name = #{updateUserName},</if>
            <if test="version != null">version = #{version},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHandleGroupById" parameterType="Long">
        delete from handle_group where id = #{id}
    </delete>

    <delete id="deleteHandleGroupByIds" parameterType="String">
        delete from handle_group where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>