<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.InventoryMapper">
    
    <resultMap type="com.deer.wcs.base.model.Inventory" id="InventoryResult">
        <result property="id"    column="id"    />
        <result property="productCode"    column="product_code"    />
        <result property="productName"    column="product_name"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="spec"    column="spec"    />
        <result property="quantity"    column="quantity"    />
        <result property="palletCode"    column="pallet_code"    />
        <result property="productDate"    column="product_date"    />
        <result property="inDate"    column="in_date"    />
        <result property="exDate"    column="ex_date"    />
        <result property="version"    column="version"    />
    </resultMap>

    <resultMap id="Dto" extends="InventoryResult"  type="com.deer.wcs.base.model.InventoryDto" >
    </resultMap>

    <sql id="selectInventoryVo">
        select id, product_code, product_name, batch_no, spec, quantity, pallet_code, product_date, in_date, ex_date, version from inventory
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.InventoryCriteria" resultMap="Dto">
        <include refid="selectInventoryVo"/>
        <where>  
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="batchNo != null  and batchNo != ''"> and batch_no like concat('%', #{batchNo}, '%')</if>
            <if test="spec != null  and spec != ''"> and spec like concat('%', #{spec}, '%')</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="palletCode != null  and palletCode != ''"> and pallet_code like concat('%', #{palletCode}, '%')</if>
            <if test="productDate != null "> and product_date like concat('%', #{productDate}, '%')</if>
            <if test="inDate != null "> and in_date like concat('%', #{inDate}, '%')</if>
            <if test="exDate != null "> and ex_date like concat('%', #{exDate}, '%')</if>
        </where>
    </select>
    
    <select id="selectInventoryById" parameterType="Long" resultMap="InventoryResult">
        <include refid="selectInventoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInventory" parameterType="com.deer.wcs.base.model.Inventory" useGeneratedKeys="true" keyProperty="id">
        insert into inventory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productCode != null">product_code,</if>
            <if test="productName != null">product_name,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="spec != null">spec,</if>
            <if test="quantity != null">quantity,</if>
            <if test="palletCode != null">pallet_code,</if>
            <if test="productDate != null">product_date,</if>
            <if test="inDate != null">in_date,</if>
            <if test="exDate != null">ex_date,</if>
            <if test="version != null">version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productCode != null">#{productCode},</if>
            <if test="productName != null">#{productName},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="spec != null">#{spec},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="palletCode != null">#{palletCode},</if>
            <if test="productDate != null">#{productDate},</if>
            <if test="inDate != null">#{inDate},</if>
            <if test="exDate != null">#{exDate},</if>
            <if test="version != null">#{version},</if>
         </trim>
    </insert>

    <update id="updateInventory" parameterType="com.deer.wcs.base.model.Inventory">
        update inventory
        <trim prefix="SET" suffixOverrides=",">
            <if test="productCode != null">product_code = #{productCode},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="spec != null">spec = #{spec},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="palletCode != null">pallet_code = #{palletCode},</if>
            <if test="productDate != null">product_date = #{productDate},</if>
            <if test="inDate != null">in_date = #{inDate},</if>
            <if test="exDate != null">ex_date = #{exDate},</if>
            <if test="version != null">version = #{version},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInventoryById" parameterType="Long">
        delete from inventory where id = #{id}
    </delete>

    <delete id="deleteInventoryByIds" parameterType="String">
        delete from inventory where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>