<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.ItemTypeMapper">
    
    <resultMap type="com.deer.wcs.base.model.ItemType" id="ItemTypeResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="parentCode"    column="parent_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
    </resultMap>

    <resultMap id="Dto" extends="ItemTypeResult"  type="com.deer.wcs.base.model.ItemTypeDto" >
    </resultMap>

    <sql id="selectItemTypeVo">
        select id, code, name, parent_id, parent_code, create_time, create_user_id, create_user_name from item_type
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.ItemTypeCriteria" resultMap="Dto">
        <include refid="selectItemTypeVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code like concat('%', #{code}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="parentId != null "> and parent_id like concat('%', #{parentId}, '%')</if>
            <if test="parentCode != null  and parentCode != ''"> and parent_code like concat('%', #{parentCode}, '%')</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
        </where>
    </select>
    
    <select id="selectItemTypeById" parameterType="Long" resultMap="ItemTypeResult">
        <include refid="selectItemTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertItemType" parameterType="com.deer.wcs.base.model.ItemType">
        insert into item_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="parentCode != null">parent_code,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="parentCode != null">#{parentCode},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
         </trim>
    </insert>

    <update id="updateItemType" parameterType="com.deer.wcs.base.model.ItemType">
        update item_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="parentCode != null">parent_code = #{parentCode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteItemTypeById" parameterType="Long">
        delete from item_type where id = #{id}
    </delete>

    <delete id="deleteItemTypeByIds" parameterType="String">
        delete from item_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>