<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.PalletTypeMapper">
    
    <resultMap type="com.deer.wcs.base.model.PalletType" id="PalletTypeResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="weight"    column="weight"    />
        <result property="length"    column="length"    />
        <result property="width"    column="width"    />
        <result property="height"    column="height"    />
    </resultMap>

    <resultMap id="Dto" extends="PalletTypeResult"  type="com.deer.wcs.base.model.PalletTypeDto" >
    </resultMap>

    <sql id="selectPalletTypeVo">
        select * from pallet_type
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.PalletTypeCriteria" resultMap="Dto">
        <include refid="selectPalletTypeVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="weight != null "> and weight = #{weight}</if>
            <if test="length != null "> and length = #{length}</if>
            <if test="width != null "> and width = #{width}</if>
            <if test="height != null "> and height = #{height}</if>
        </where>
    </select>
    
    <select id="selectPalletTypeById" parameterType="Long" resultMap="PalletTypeResult">
        <include refid="selectPalletTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPalletType" parameterType="com.deer.wcs.base.model.PalletType" useGeneratedKeys="true" keyProperty="id">
        insert into pallet_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="weight != null">weight,</if>
            <if test="length != null">length,</if>
            <if test="width != null">width,</if>
            <if test="height != null">height,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="weight != null">#{weight},</if>
            <if test="length != null">#{length},</if>
            <if test="width != null">#{width},</if>
            <if test="height != null">#{height},</if>
         </trim>
    </insert>

    <update id="updatePalletType" parameterType="com.deer.wcs.base.model.PalletType">
        update pallet_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="length != null">length = #{length},</if>
            <if test="width != null">width = #{width},</if>
            <if test="height != null">height = #{height},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePalletTypeById" parameterType="Long">
        delete from pallet_type where id = #{id}
    </delete>

    <delete id="deletePalletTypeByIds" parameterType="String">
        delete from pallet_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>