<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.PlcReadStationMapper">
    
    <resultMap type="com.deer.wcs.base.model.PlcReadStation" id="PlcReadStationResult">
        <result property="id"    column="id"    />
        <result property="deviceCodeName"    column="device_code_name"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="materialId"    column="material_id"    />
        <result property="last"    column="last"    />
    </resultMap>

    <resultMap id="Dto" extends="PlcReadStationResult"  type="com.deer.wcs.base.model.PlcReadStationDto" >
    </resultMap>

    <sql id="selectPlcReadStationVo">
        select * from plc_read_station
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.PlcReadStationCriteria" resultMap="Dto">
        <include refid="selectPlcReadStationVo"/>
        <where>  
            <if test="deviceCodeName != null  and deviceCodeName != ''"> and device_code_name = #{deviceCodeName}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="materialId != null  and materialId != ''"> and material_id = #{materialId}</if>
            <if test="last != null  and last != ''"> and last = #{last}</if>
        </where>
    </select>
    
    <select id="selectPlcReadStationById" parameterType="Long" resultMap="PlcReadStationResult">
        <include refid="selectPlcReadStationVo"/>
        where id = #{id}
    </select>
    <select id="findByLastSmall" resultType="com.deer.wcs.base.model.PlcReadStation">
        SELECT
        plc.*
        FROM
        plc_read_station plc
        WHERE
        plc.code IN
        <foreach collection="codeList" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
        and plc.name IS NOT NULL and plc.name != ""
        AND plc.material_id IS NOT NULL and plc.material_id != ""
        and plc.disable_state = 0
        ORDER BY CAST(plc.last AS SIGNED)
        limit 1
    </select>

    <insert id="insertPlcReadStation" parameterType="com.deer.wcs.base.model.PlcReadStation">
        insert into plc_read_station
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="deviceCode != null">device_code,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="materialId != null">material_id,</if>
            <if test="last != null">last,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="deviceCode != null">#{deviceCode},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="last != null">#{last},</if>
         </trim>
    </insert>

    <update id="updatePlcReadStation" parameterType="com.deer.wcs.base.model.PlcReadStation">
        update plc_read_station
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceCode != null">device_code = #{deviceCode},</if>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="last != null">last = #{last},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePlcReadStationById" parameterType="Long">
        delete from plc_read_station where id = #{id}
    </delete>

    <delete id="deletePlcReadStationByIds" parameterType="String">
        delete from plc_read_station where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>