<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.PositionConditionMapper">
    
    <resultMap type="com.deer.wcs.base.model.PositionCondition" id="PositionConditionResult">
        <result property="id"    column="id"    />
        <result property="fromCode"    column="from_code"    />
        <result property="toCode"    column="to_code"    />
        <result property="taskTime"    column="task_time"    />
        <result property="blockingTime"    column="blocking_time"    />
    </resultMap>

    <resultMap id="Dto" extends="PositionConditionResult"  type="com.deer.wcs.base.model.PositionConditionDto" >
    </resultMap>

    <sql id="selectPositionConditionVo">
        select id, from_code, to_code, task_time, blocking_time,step_code,step_name,ware_code,ware_name,template_code from position_condition
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.PositionConditionCriteria" resultMap="Dto">
        <include refid="selectPositionConditionVo"/>
        <where>  
            <if test="fromCode != null  and fromCode != ''"> and from_code = #{fromCode}</if>
            <if test="toCode != null  and toCode != ''"> and to_code = #{toCode}</if>
            <if test="taskTime != null "> and task_time = #{taskTime}</if>
            <if test="blockingTime != null "> and blocking_time = #{blockingTime}</if>
        </where>

    </select>
    
    <select id="selectPositionConditionById" parameterType="Long" resultMap="PositionConditionResult">
        <include refid="selectPositionConditionVo"/>
        where id = #{id}
    </select>



    <insert id="insertPositionCondition" parameterType="com.deer.wcs.base.model.PositionCondition">
        insert into position_condition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="fromCode != null">from_code,</if>
            <if test="toCode != null">to_code,</if>
            <if test="taskTime != null">task_time,</if>
            <if test="blockingTime != null">blocking_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="fromCode != null">#{fromCode},</if>
            <if test="toCode != null">#{toCode},</if>
            <if test="taskTime != null">#{taskTime},</if>
            <if test="blockingTime != null">#{blockingTime},</if>
         </trim>
    </insert>

    <update id="updatePositionCondition" parameterType="com.deer.wcs.base.model.PositionCondition">
        update position_condition
        <trim prefix="SET" suffixOverrides=",">
            <if test="fromCode != null">from_code = #{fromCode},</if>
            <if test="toCode != null">to_code = #{toCode},</if>
            <if test="taskTime != null">task_time = #{taskTime},</if>
            <if test="blockingTime != null">blocking_time = #{blockingTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePositionConditionById" parameterType="Long">
        delete from position_condition where id = #{id}
    </delete>

    <delete id="deletePositionConditionByIds" parameterType="String">
        delete from position_condition where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>