<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.ProProcessMapper">
    
    <resultMap type="com.deer.wcs.base.model.ProProcess" id="ProProcessResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="wareCode"    column="ware_code"    />
        <result property="wareName"    column="ware_name"    />
    </resultMap>

    <resultMap id="Dto" extends="ProProcessResult"  type="com.deer.wcs.base.model.ProProcessDto" >
    </resultMap>

    <sql id="selectProProcessVo">
        select id, code, name, ware_code, ware_name from pro_process
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.ProProcessCriteria" resultMap="Dto">
        <include refid="selectProProcessVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="wareCode != null  and wareCode != ''"> and ware_code = #{wareCode}</if>
            <if test="wareName != null  and wareName != ''"> and ware_name like concat('%', #{wareName}, '%')</if>
        </where>
    </select>
    
    <select id="selectProProcessById" parameterType="Long" resultMap="ProProcessResult">
        <include refid="selectProProcessVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProProcess" parameterType="com.deer.wcs.base.model.ProProcess">
        insert into pro_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="wareCode != null">ware_code,</if>
            <if test="wareName != null">ware_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="wareCode != null">#{wareCode},</if>
            <if test="wareName != null">#{wareName},</if>
         </trim>
    </insert>

    <update id="updateProProcess" parameterType="com.deer.wcs.base.model.ProProcess">
        update pro_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="wareCode != null">ware_code = #{wareCode},</if>
            <if test="wareName != null">ware_name = #{wareName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProProcessById" parameterType="Long">
        delete from pro_process where id = #{id}
    </delete>

    <delete id="deleteProProcessByIds" parameterType="String">
        delete from pro_process where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>