<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.ProProcessPositionMapper">
    
    <resultMap type="com.deer.wcs.base.model.ProProcessPosition" id="ProProcessPositionResult">
        <result property="id"    column="id"    />
        <result property="proProcessId"    column="pro_process_id"    />
        <result property="positionCode"    column="position_code"    />
    </resultMap>

    <resultMap id="Dto" extends="ProProcessPositionResult"  type="com.deer.wcs.base.model.ProProcessPositionDto" >
    </resultMap>

    <sql id="selectProProcessPositionVo">
        select id, pro_process_id, position_code from pro_process_position
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.ProProcessPositionCriteria" resultMap="Dto">
        <include refid="selectProProcessPositionVo"/>
        <where>  
            <if test="proProcessId != null "> and pro_process_id = #{proProcessId}</if>
            <if test="positionCode != null "> and position_code = #{positionCode}</if>
        </where>
    </select>
    
    <select id="selectProProcessPositionById" parameterType="Long" resultMap="ProProcessPositionResult">
        <include refid="selectProProcessPositionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProProcessPosition" parameterType="com.deer.wcs.base.model.ProProcessPosition">
        insert into pro_process_position
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="proProcessId != null">pro_process_id,</if>
            <if test="positionCode != null">position_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="proProcessId != null">#{proProcessId},</if>
            <if test="positionCode != null">#{positionCode},</if>
         </trim>
    </insert>

    <update id="updateProProcessPosition" parameterType="com.deer.wcs.base.model.ProProcessPosition">
        update pro_process_position
        <trim prefix="SET" suffixOverrides=",">
            <if test="proProcessId != null">pro_process_id = #{proProcessId},</if>
            <if test="positionCode != null">position_code = #{positionCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProProcessPositionById" parameterType="Long">
        delete from pro_process_position where id = #{id}
    </delete>

    <delete id="deleteProProcessPositionByIds" parameterType="String">
        delete from pro_process_position where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>