<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.ProPositionContentMapper">
    
    <resultMap type="com.deer.wcs.base.model.ProPositionContent" id="ProPositionContentResult">
        <result property="id"    column="id"    />
        <result property="productId"    column="product_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="positionId"    column="position_id"    />
        <result property="proLineId"    column="pro_line_id"    />
        <result property="proProcessId"    column="pro_process_id"    />
        <result property="deviceCode"    column="device_code"    />
        <result property="deviceScanCodeAddress"    column="device_scan_code_address"    />
        <result property="devceGuangdianAddress"    column="devce_guangdian_address"    />
        <result property="wifiModeIp"    column="wifi_mode_ip"    />
        <result property="wifiModePort"    column="wifi_mode_port"    />
        <result property="palletCode"    column="pallet_code"    />
        <result property="palletState"    column="pallet_state"    />
    </resultMap>

    <resultMap id="Dto" extends="ProPositionContentResult"  type="com.deer.wcs.base.model.ProPositionContentDto" >
    </resultMap>

    <select id="selectType1"  resultMap="ProPositionContentResult">
        select pro_position_content.* from pro_position_content pro_position_content
        left join position_info position_info on pro_position_content.position_id = position_info.id
        where
        pro_position_content.item_code = #{itemCode}
        and (pro_position_content.pro_line_code  =#{proLineCode} or pro_position_content.pro_line_code ='000')
        and pro_position_content.type  =1
        and pro_position_content.is_ok = 1
        and position_info.task_state=0
        and position_info.inven_state=1
        and position_info.disable_state=0
        order by pro_position_content.in_time asc
        limit 1
    </select>

<!--    <select id="report" resultType="com.deer.wcs.base.model.ContentReport">-->
<!--        select-->
<!--            pro_line_code as line_code-->
<!--            ,pro_position_content.item_code-->
<!--            ,item_info.item_name-->
<!--            ,COUNT(1) as totalNum,sum(is_ok) as hasNum-->
<!--            ,line_item.quantity as limit_num-->
<!--            ,item_type.name as item_type_name-->
<!--            ,pro_line.name as line_name-->
<!--            ,ware_info.code as ware_code-->
<!--            ,ware_info.name as ware_name-->
<!--        from pro_position_content  pro_position_content-->
<!--        left join position_info position_info on pro_position_content.code = position_info.code-->
<!--        left join item_info item_info on item_info.item_code = pro_position_content.item_code-->
<!--        left join item_type item_type on item_type.code = item_info.item_type_code-->
<!--        left join pro_line pro_line on pro_line.code = pro_position_content.pro_line_code-->
<!--        left join ware_info ware_info on pro_line.ware_code = ware_info.code-->
<!--        left join line_item line_item on line_item.line_code = pro_position_content.pro_line_code and line_item.item_code = pro_position_content.item_code-->
<!--        where pro_position_content.type=1-->
<!--        GROUP BY pro_line_code,pro_position_content.item_code;-->

<!--    </select>-->

    <select id="report" resultType="com.deer.wcs.base.model.ContentReport">
        select
        pro_line_code as line_code
        ,pro_position_content.item_code,
        MAX(item_info.item_name) as item_name,
        COUNT(1) as totalNum,
        SUM(is_ok) as hasNum,
        MAX(line_item.quantity) as limit_num,
        MAX(item_type.name) as item_type_name,
        MAX(pro_line.name) as line_name,
        MAX(ware_info.code) as ware_code,
        MAX(ware_info.name) as ware_name
        from pro_position_content  pro_position_content
        left join position_info position_info on pro_position_content.code = position_info.code
        left join item_info item_info on item_info.item_code = pro_position_content.item_code
        left join item_type item_type on item_type.code = item_info.item_type_code
        left join pro_line pro_line on pro_line.code = pro_position_content.pro_line_code
        left join ware_info ware_info on pro_line.ware_code = ware_info.code
        left join line_item line_item on line_item.line_code = pro_position_content.pro_line_code and line_item.item_code = pro_position_content.item_code
        where pro_position_content.type=1
        GROUP BY pro_line_code,pro_position_content.item_code;

    </select>


    <select id="report2" resultType="com.deer.wcs.base.model.ContentReport">
        select
        pro_line_code as line_code
        ,pro_position_content.item_code
        ,item_info.item_name
        ,COUNT(1) as totalNum,sum(is_ok) as hasNum
        ,line_item.quantity as limit_num
        ,item_type.name as item_type_name
        ,pro_line.name as line_name
        from pro_position_content  pro_position_content
        left join position_info position_info on pro_position_content.code = position_info.code
        left join item_info item_info on item_info.item_code = pro_position_content.item_code
        left join item_type item_type on item_type.code = item_info.item_type_code
        left join pro_line pro_line on pro_line.code = pro_position_content.pro_line_code
        left join line_item line_item on line_item.line_code = pro_position_content.pro_line_code and line_item.item_code = pro_position_content.item_code
        where pro_position_content.type=1 and pro_position_content.ware_code = #{wareCode}
        GROUP BY pro_line_code,pro_position_content.item_code;

    </select>


    <sql id="selectProPositionContentVo">
        select * from pro_position_content
    </sql>

    <select id="findByType" resultType="ProPositionContent">
        select content.*
        from pro_position_content content
        left join position_info position_info on position_info.id = content.position_id
        where  position_info.task_state=0
            <if test="type != null "> and content.type = #{type}</if>
            <if test="itemCode != null "> and content.item_code = #{itemCode}</if>
            <if test="invenState != null "> and position_info.inven_state = #{invenState}</if>
            <if test="palletState != null "> and content.pallet_state = #{palletState}</if>
        limit 1
    </select>

    <select id="findByTypes" resultType="ProPositionContent">
        select content.*
        from pro_position_content content
        left join position_info position_info on position_info.id = content.position_id
        where  position_info.task_state=0 and content.type in
        <foreach item="type" collection="list" open="(" separator="," close=")">
            #{type}
        </foreach>
        <if test="itemCode != null "> and content.item_code = #{itemCode}</if>
        <if test="invenState != null "> and position_info.inven_state = #{invenState}</if>
        <if test="palletState != null "> and content.pallet_state = #{palletState}</if>
        limit 1
    </select>

    <select id="findList" parameterType="com.deer.wcs.base.model.ProPositionContentCriteria" resultMap="Dto">
        select content.*
        ,position_info.name
<!--        ,position_info.ware_code-->
        ,position_info.ware_name
        ,position_info.inven_state
        ,position_info.task_state
        ,position_info.disable_state
        ,item_type.name as item_type_name
        ,pro_line.name as line_name
        ,item_info.item_name as item_name
        from pro_position_content content
        left join pro_line pro_line on pro_line.code = content.pro_line_code
        left join position_info on position_info.id = content.position_id
        left join item_type on content.item_type_code = item_type.code
        left join item_info on item_info.item_code = content.item_code
        <where>

            <if test="lineId != null "> and pro_line.id = #{lineId}</if>
            <if test="proLineCode != null "> and pro_line.code = #{proLineCode}</if>
            <if test="type != null "> and content.type = #{type}</if>
            <if test="codeGroup != null "> and content.code_group = #{codeGroup}</if>
            <if test="code != null "> and position_info.code = #{code}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="itemTypeCode != null "> and content.item_type_code = #{itemTypeCode}</if>
            <if test="itemCode != null "> and content.item_code = #{itemCode}</if>
            <if test="positionId != null "> and position_id = #{positionId}</if>
            <if test="proLineCode != null "> and content.pro_line_code = #{proLineCode}</if>
            <if test="proProcessId != null "> and pro_process_id = #{proProcessId}</if>
            <if test="deviceCode != null  and deviceCode != ''"> and device_code = #{deviceCode}</if>
            <if test="deviceScanCodeAddress != null  and deviceScanCodeAddress != ''"> and device_scan_code_address = #{deviceScanCodeAddress}</if>
            <if test="devceGuangdianAddress != null  and devceGuangdianAddress != ''"> and devce_guangdian_address = #{devceGuangdianAddress}</if>
            <if test="wifiModeIp != null  and wifiModeIp != ''"> and wifi_mode_ip = #{wifiModeIp}</if>
            <if test="wifiModePort != null  and wifiModePort != ''"> and wifi_mode_port = #{wifiModePort}</if>
            <if test="palletCode != null  and palletCode != ''"> and pallet_code = #{palletCode}</if>
            <if test="wareCode != null  and wareCode != ''"> and content.ware_code = #{wareCode}</if>
        </where>
        order by content.type , content.code
    </select>
    
    <select id="selectProPositionContentById" parameterType="Long" resultMap="ProPositionContentResult">
        <include refid="selectProPositionContentVo"/>
        where id = #{id}
    </select>
    <select id="findByYangJIDeviceCode" resultType="com.deer.wcs.base.model.ProPositionContent">
        SELECT
        *
        FROM
        pro_position_content AS poc
        LEFT JOIN position_info AS pi ON poc.CODE = pi.CODE
        WHERE
        pi.ware_code = "LG-NA-YANG"
        AND poc.device_code IS NOT NULL
        AND poc.device_code != "PLC2"
    </select>
    <select id="findByKong" resultType="com.deer.wcs.base.model.ProPositionContent">
        SELECT
        poc.*
        FROM
        pro_position_content poc
        LEFT JOIN position_info pi ON poc.CODE = pi.CODE
        WHERE
        pi.disable_state = 0
        AND pi.task_state = 0
        AND pi.inven_state = 0
        AND poc.CODE IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
        limit 1
    </select>

    <insert id="insertProPositionContent" parameterType="com.deer.wcs.base.model.ProPositionContent">
        insert into pro_position_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="productId != null">product_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="positionId != null">position_id,</if>
            <if test="proLineId != null">pro_line_id,</if>
            <if test="proProcessId != null">pro_process_id,</if>
            <if test="deviceCode != null">device_code,</if>
            <if test="deviceScanCodeAddress != null">device_scan_code_address,</if>
            <if test="devceGuangdianAddress != null">devce_guangdian_address,</if>
            <if test="wifiModeIp != null">wifi_mode_ip,</if>
            <if test="wifiModePort != null">wifi_mode_port,</if>
            <if test="palletCode != null">pallet_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="productId != null">#{productId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="positionId != null">#{positionId},</if>
            <if test="proLineId != null">#{proLineId},</if>
            <if test="proProcessId != null">#{proProcessId},</if>
            <if test="deviceCode != null">#{deviceCode},</if>
            <if test="deviceScanCodeAddress != null">#{deviceScanCodeAddress},</if>
            <if test="devceGuangdianAddress != null">#{devceGuangdianAddress},</if>
            <if test="wifiModeIp != null">#{wifiModeIp},</if>
            <if test="wifiModePort != null">#{wifiModePort},</if>
            <if test="palletCode != null">#{palletCode},</if>
         </trim>
    </insert>

    <update id="updateProPositionContent" parameterType="com.deer.wcs.base.model.ProPositionContent">
        update pro_position_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="productId != null">product_id = #{productId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="positionId != null">position_id = #{positionId},</if>
            <if test="proLineId != null">pro_line_id = #{proLineId},</if>
            <if test="proProcessId != null">pro_process_id = #{proProcessId},</if>
            <if test="deviceCode != null">device_code = #{deviceCode},</if>
            <if test="deviceScanCodeAddress != null">device_scan_code_address = #{deviceScanCodeAddress},</if>
            <if test="devceGuangdianAddress != null">devce_guangdian_address = #{devceGuangdianAddress},</if>
            <if test="wifiModeIp != null">wifi_mode_ip = #{wifiModeIp},</if>
            <if test="wifiModePort != null">wifi_mode_port = #{wifiModePort},</if>
            <if test="palletCode != null">pallet_code = #{palletCode},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateNull" parameterType="com.deer.wcs.base.model.ProPositionContent">
        update pro_position_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="productId != null">product_id = #{productId},</if>
            <if test="proProcessId != null">pro_process_id = #{proProcessId},</if>
            <if test="deviceCode != null">device_code = #{deviceCode},</if>
            <if test="deviceScanCodeAddress != null">device_scan_code_address = #{deviceScanCodeAddress},</if>
            <if test="devceGuangdianAddress != null">devce_guangdian_address = #{devceGuangdianAddress},</if>
            <if test="wifiModeIp != null">wifi_mode_ip = #{wifiModeIp},</if>
            <if test="wifiModePort != null">wifi_mode_port = #{wifiModePort},</if>
            <if test="palletCode != null">pallet_code = #{palletCode},</if>
            <if test="palletState != null">pallet_state = #{palletState},</if>
            <if test="palletState == null">pallet_state = null,</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProPositionContentById" parameterType="Long">
        delete from pro_position_content where id = #{id}
    </delete>

    <delete id="deleteProPositionContentByIds" parameterType="String">
        delete from pro_position_content where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>