<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.ProRouteProcessMapper">
    
    <resultMap type="com.deer.wcs.base.model.ProRouteProcess" id="ProRouteProcessResult">
        <result property="id"    column="id"    />
        <result property="proRouteId"    column="pro_route_id"    />
        <result property="proProcessId"    column="pro_process_id"    />
        <result property="proProcessCode"    column="pro_process_code"    />
        <result property="proProcessName"    column="pro_process_name"    />
        <result property="nextProPorcessId"    column="next_pro_porcess_id"    />
        <result property="nextProProcessCode"    column="next_pro_process_code"    />
        <result property="nextProProcessName"    column="next_pro_process_name"    />
    </resultMap>

    <resultMap id="Dto" extends="ProRouteProcessResult"  type="com.deer.wcs.base.model.ProRouteProcessDto" >
    </resultMap>

    <sql id="selectProRouteProcessVo">
        select id, pro_route_id, pro_process_id, pro_process_code, pro_process_name, next_pro_porcess_id, next_pro_process_code, next_pro_process_name from pro_route_process
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.ProRouteProcessCriteria" resultMap="Dto">
        <include refid="selectProRouteProcessVo"/>
        <where>  
            <if test="proProcessCode != null  and proProcessCode != ''"> and pro_process_code = #{proProcessCode}</if>
            <if test="proProcessName != null  and proProcessName != ''"> and pro_process_name like concat('%', #{proProcessName}, '%')</if>
            <if test="nextProPorcessId != null "> and next_pro_porcess_id = #{nextProPorcessId}</if>
            <if test="nextProProcessCode != null  and nextProProcessCode != ''"> and next_pro_process_code = #{nextProProcessCode}</if>
            <if test="nextProProcessName != null  and nextProProcessName != ''"> and next_pro_process_name like concat('%', #{nextProProcessName}, '%')</if>
        </where>
    </select>
    
    <select id="selectProRouteProcessById" parameterType="Long" resultMap="ProRouteProcessResult">
        <include refid="selectProRouteProcessVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProRouteProcess" parameterType="com.deer.wcs.base.model.ProRouteProcess">
        insert into pro_route_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="proRouteId != null">pro_route_id,</if>
            <if test="proProcessId != null">pro_process_id,</if>
            <if test="proProcessCode != null">pro_process_code,</if>
            <if test="proProcessName != null">pro_process_name,</if>
            <if test="nextProPorcessId != null">next_pro_porcess_id,</if>
            <if test="nextProProcessCode != null">next_pro_process_code,</if>
            <if test="nextProProcessName != null">next_pro_process_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="proRouteId != null">#{proRouteId},</if>
            <if test="proProcessId != null">#{proProcessId},</if>
            <if test="proProcessCode != null">#{proProcessCode},</if>
            <if test="proProcessName != null">#{proProcessName},</if>
            <if test="nextProPorcessId != null">#{nextProPorcessId},</if>
            <if test="nextProProcessCode != null">#{nextProProcessCode},</if>
            <if test="nextProProcessName != null">#{nextProProcessName},</if>
         </trim>
    </insert>

    <update id="updateProRouteProcess" parameterType="com.deer.wcs.base.model.ProRouteProcess">
        update pro_route_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="proRouteId != null">pro_route_id = #{proRouteId},</if>
            <if test="proProcessId != null">pro_process_id = #{proProcessId},</if>
            <if test="proProcessCode != null">pro_process_code = #{proProcessCode},</if>
            <if test="proProcessName != null">pro_process_name = #{proProcessName},</if>
            <if test="nextProPorcessId != null">next_pro_porcess_id = #{nextProPorcessId},</if>
            <if test="nextProProcessCode != null">next_pro_process_code = #{nextProProcessCode},</if>
            <if test="nextProProcessName != null">next_pro_process_name = #{nextProProcessName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProRouteProcessById" parameterType="Long">
        delete from pro_route_process where id = #{id}
    </delete>

    <delete id="deleteProRouteProcessByIds" parameterType="String">
        delete from pro_route_process where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>