<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.TaskHandleMapper">
    
    <resultMap type="com.deer.wcs.base.model.TaskHandle" id="TaskHandleResult">
        <result property="id"    column="id"    />
        <result property="taskDefineId"    column="task_define_id"    />
        <result property="handleId"    column="handle_id"    />
        <result property="type"    column="type"    />
        <result property="className"    column="class_name"    />
        <result property="methodName"    column="method_name"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="cmdIndex"    column="cmd_index"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="version"    column="version"    />
    </resultMap>

    <resultMap id="Dto" extends="TaskHandleResult"  type="com.deer.wcs.base.model.TaskHandleDto" >
    </resultMap>

    <sql id="selectTaskHandleVo">
        select id, task_define_id, handle_id, type, class_name, method_name, code, name, cmd_index, create_time, create_user_id, create_user_name, update_time, update_user_id, update_user_name, is_delete, version from task_handle
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.TaskHandleCriteria" resultMap="Dto">
        <include refid="selectTaskHandleVo"/>
        <where>  
            <if test="taskDefineId != null  and taskDefineId != ''"> and task_define_id = #{taskDefineId}</if>
            <if test="handleId != null  and handleId != ''"> and handle_id = #{handleId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
            <if test="methodName != null  and methodName != ''"> and method_name like concat('%', #{methodName}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="cmdIndex != null "> and cmd_index = #{cmdIndex}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
            <if test="updateUserId != null "> and update_user_id = #{updateUserId}</if>
            <if test="updateUserName != null  and updateUserName != ''"> and update_user_name like concat('%', #{updateUserName}, '%')</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="createTime != null  and createTime != ''"> and create_time like concat(#{createTime},'%')</if>
            <if test="updateTime != null  and updateTime != ''"> and update_time like concat(#{updateTime},'%')</if>
        </where>
    </select>
    
    <select id="selectTaskHandleById" parameterType="Long" resultMap="TaskHandleResult">
        <include refid="selectTaskHandleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTaskHandle" parameterType="com.deer.wcs.base.model.TaskHandle">
        insert into task_handle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="taskDefineId != null">task_define_id,</if>
            <if test="handleId != null">handle_id,</if>
            <if test="type != null">type,</if>
            <if test="className != null">class_name,</if>
            <if test="methodName != null">method_name,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="cmdIndex != null">cmd_index,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUserId != null">update_user_id,</if>
            <if test="updateUserName != null">update_user_name,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="version != null">version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="taskDefineId != null">#{taskDefineId},</if>
            <if test="handleId != null">#{handleId},</if>
            <if test="type != null">#{type},</if>
            <if test="className != null">#{className},</if>
            <if test="methodName != null">#{methodName},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="cmdIndex != null">#{cmdIndex},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="version != null">#{version},</if>
         </trim>
    </insert>

    <update id="updateTaskHandle" parameterType="com.deer.wcs.base.model.TaskHandle">
        update task_handle
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskDefineId != null">task_define_id = #{taskDefineId},</if>
            <if test="handleId != null">handle_id = #{handleId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="className != null">class_name = #{className},</if>
            <if test="methodName != null">method_name = #{methodName},</if>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="cmdIndex != null">cmd_index = #{cmdIndex},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="updateUserName != null">update_user_name = #{updateUserName},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="version != null">version = #{version},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskHandleById" parameterType="Long">
        delete from task_handle where id = #{id}
    </delete>

    <delete id="deleteTaskHandleByIds" parameterType="String">
        delete from task_handle where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByTaskDefineId" parameterType="long">
        delete from task_handle where task_define_id = #{taskDefineId}
    </delete>
</mapper>