<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.TaskTypeMapper">
    
    <resultMap type="com.deer.wcs.base.model.TaskType" id="TaskTypeResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="wareCode"    column="ware_code"    />
        <result property="wareName"    column="ware_name"    />
        <result property="priority"    column="priority"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <resultMap id="Dto" extends="TaskTypeResult"  type="com.deer.wcs.base.model.TaskTypeDto" >
    </resultMap>

    <sql id="selectTaskTypeVo">
        select id, code, name, ware_code, ware_name, priority, create_time, create_user_id, create_user_name, update_time, update_user_id, update_user_name, del_flag from task_type
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.TaskTypeCriteria" resultMap="Dto">
        <include refid="selectTaskTypeVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="delFlag != null"> and del_flag = #{delFlag}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="wareCode != null  and wareCode != ''"> and ware_code = #{wareCode}</if>
            <if test="wareName != null  and wareName != ''"> and ware_name like concat('%', #{wareName}, '%')</if>
            <if test="priority != null "> and priority = #{priority}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="updateUserId != null "> and update_user_id = #{updateUserId}</if>
        </where>
    </select>
    
    <select id="selectTaskTypeById" parameterType="Long" resultMap="TaskTypeResult">
        <include refid="selectTaskTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTaskType" parameterType="com.deer.wcs.base.model.TaskType" useGeneratedKeys="true" keyProperty="id">
        insert into task_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="wareCode != null">ware_code,</if>
            <if test="wareName != null">ware_name,</if>
            <if test="priority != null">priority,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUserId != null">update_user_id,</if>
            <if test="updateUserName != null">update_user_name,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="wareCode != null">#{wareCode},</if>
            <if test="wareName != null">#{wareName},</if>
            <if test="priority != null">#{priority},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateTaskType" parameterType="com.deer.wcs.base.model.TaskType">
        update task_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="wareCode != null">ware_code = #{wareCode},</if>
            <if test="wareName != null">ware_name = #{wareName},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="updateUserName != null">update_user_name = #{updateUserName},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskTypeById" parameterType="Long">
        delete from task_type where id = #{id}
    </delete>

    <delete id="deleteTaskTypeByIds" parameterType="String">
        delete from task_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>