<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.base.dao.WarnMsgMapper">
    
    <resultMap type="com.deer.wcs.base.model.WarnMsg" id="WarnMsgResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="type"    column="type"    />
        <result property="warnMsg"    column="warn_msg"    />
    </resultMap>

    <resultMap id="Dto" extends="WarnMsgResult"  type="com.deer.wcs.base.model.WarnMsgDto" >
    </resultMap>

    <sql id="selectWarnMsgVo">
        select id, code, type, warn_msg from warn_msg
    </sql>

    <select id="findList" parameterType="com.deer.wcs.base.model.WarnMsgCriteria" resultMap="Dto">
        <include refid="selectWarnMsgVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="warnMsg != null  and warnMsg != ''"> and warn_msg like concat('%', #{warnMsg}, '%')</if>
        </where>
    </select>
    
    <select id="selectWarnMsgById" parameterType="Long" resultMap="WarnMsgResult">
        <include refid="selectWarnMsgVo"/>
        where id = #{id}
    </select>
    <select id="findByCodeAndType" resultType="com.deer.wcs.base.model.WarnMsg">
        select id, code, type, warn_msg from warn_msg where code = #{troubleCode} and type = #{type}
    </select>

    <insert id="insertWarnMsg" parameterType="com.deer.wcs.base.model.WarnMsg" useGeneratedKeys="true" keyProperty="id">
        insert into warn_msg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="type != null">type,</if>
            <if test="warnMsg != null">warn_msg,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="type != null">#{type},</if>
            <if test="warnMsg != null">#{warnMsg},</if>
         </trim>
    </insert>

    <update id="updateWarnMsg" parameterType="com.deer.wcs.base.model.WarnMsg">
        update warn_msg
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="type != null">type = #{type},</if>
            <if test="warnMsg != null">warn_msg = #{warnMsg},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWarnMsgById" parameterType="Long">
        delete from warn_msg where id = #{id}
    </delete>

    <delete id="deleteWarnMsgByIds" parameterType="String">
        delete from warn_msg where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>