<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.rcs.dao.RcsCarInfoMapper">
    
    <resultMap type="com.deer.wcs.rcs.model.RcsCarInfo" id="RcsCarInfoResult">
        <result property="id"    column="id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="rcsCarTypeId"    column="rcs_car_type_id"    />
        <result property="disableState"    column="disable_state"    />
        <result property="taskState"    column="task_state"    />
        <result property="batteryLevel"    column="battery_level"    />
        <result property="isCharge"    column="is_charge"    />
        <result property="loadState"    column="load_state"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="version"    column="version"    />
    </resultMap>

    <resultMap id="Dto" extends="RcsCarInfoResult"  type="com.deer.wcs.rcs.model.RcsCarInfoDto" >
    </resultMap>

    <sql id="selectRcsCarInfoVo">
        select * from rcs_car_info
    </sql>

    <select id="findList" parameterType="com.deer.wcs.rcs.model.RcsCarInfoCriteria" resultMap="Dto">
        <include refid="selectRcsCarInfoVo"/>
        <where>  
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="z != null  "> and z = #{z}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="rcsCarTypeId != null "> and rcs_car_type_id = #{rcsCarTypeId}</if>
            <if test="disableState != null  and disableState != ''"> and disable_state = #{disableState}</if>
            <if test="taskState != null  and taskState != ''"> and task_state = #{taskState}</if>
            <if test="batteryLevel != null "> and battery_level = #{batteryLevel}</if>
            <if test="isCharge != null  and isCharge != ''"> and is_charge = #{isCharge}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
            <if test="updateUserId != null "> and update_user_id = #{updateUserId}</if>
            <if test="updateUserName != null  and updateUserName != ''"> and update_user_name like concat('%', #{updateUserName}, '%')</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectRcsCarInfoById" parameterType="Long" resultMap="RcsCarInfoResult">
        <include refid="selectRcsCarInfoVo"/>
        where id = #{id}
    </select>

    <select id="findCanUse" resultType="com.deer.wcs.rcs.model.RcsCarInfo">
        <include refid="selectRcsCarInfoVo"/> where disable_state = 0
         and task_state = 0 and battery_level &gt; 20 and is_connected = 1
    </select>

    <select id="findByWareCode" resultType="com.deer.wcs.rcs.model.RcsCarInfo">
        select * from rcs_car_info
                 where ware_code = #{wareCode}
                   and task_state = 0
                   and is_connected = 1
                   and disable_state = 0
        order by battery_level asc
    </select>
    <select id="hasCar" resultType="java.lang.Boolean">
        select count(*)>0 from rcs_car_info where ware_code = #{wareCode} and from_cell_code = #{fromCellCode} and load_state = 1
    </select>

    <insert id="insertRcsCarInfo" parameterType="com.deer.wcs.rcs.model.RcsCarInfo">
        insert into rcs_car_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="rcsCarTypeId != null">rcs_car_type_id,</if>
            <if test="disableState != null">disable_state,</if>
            <if test="taskState != null">task_state,</if>
            <if test="batteryLevel != null">battery_level,</if>
            <if test="isCharge != null">is_charge,</if>
            <if test="loadState != null">load_state,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="updateUserId != null">update_user_id,</if>
            <if test="updateUserName != null">update_user_name,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="version != null">version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="rcsCarTypeId != null">#{rcsCarTypeId},</if>
            <if test="disableState != null">#{disableState},</if>
            <if test="taskState != null">#{taskState},</if>
            <if test="batteryLevel != null">#{batteryLevel},</if>
            <if test="isCharge != null">#{isCharge},</if>
            <if test="loadState != null">#{loadState},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="version != null">#{version},</if>
         </trim>
    </insert>

    <update id="updateRcsCarInfo" parameterType="com.deer.wcs.rcs.model.RcsCarInfo">
        update rcs_car_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="rcsCarTypeId != null">rcs_car_type_id = #{rcsCarTypeId},</if>
            <if test="disableState != null">disable_state = #{disableState},</if>
            <if test="taskState != null">task_state = #{taskState},</if>
            <if test="batteryLevel != null">battery_level = #{batteryLevel},</if>
            <if test="isCharge != null">is_charge = #{isCharge},</if>
            <if test="loadState != null">load_state = #{loadState},</if>
            <if test="fromCellCode != null">from_cell_code = #{fromCellCode},</if>
            <if test="toCellCode != null">to_cell_code = #{toCellCode},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="port != null">port = #{port},</if>
            <if test="wareCode != null">ware_code = #{wareCode},</if>
            <if test="z != null">z = #{z},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="updateUserName != null">update_user_name = #{updateUserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="version != null">version = #{version},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRcsCarInfoById" parameterType="Long">
        delete from rcs_car_info where id = #{id}
    </delete>

    <delete id="deleteRcsCarInfoByIds" parameterType="String">
        delete from rcs_car_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <!-- 更新小车遥测数据（只更新坐标、电量、速度、充电状态、负载状态等遥测字段，不触发业务逻辑） -->
    <update id="updateCarTelemetryData" parameterType="com.deer.wcs.rcs.model.RcsCarInfo">
        update rcs_car_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="currentX != null">current_x = #{currentX},</if>
            <if test="currentY != null">current_y = #{currentY},</if>
            <if test="currentZ != null">current_z = #{currentZ},</if>
            <if test="fromCellCode != null">from_cell_code = #{fromCellCode},</if>
            <if test="toCellCode != null">to_cell_code = #{toCellCode},</if>
            <if test="positionRatio != null">position_ratio = #{positionRatio},</if>
            <if test="batteryLevel != null">battery_level = #{batteryLevel},</if>
            <if test="isCharge != null">is_charge = #{isCharge},</if>
            <if test="loadState != null">load_state = #{loadState},</if>
            <if test="speed != null">speed = #{speed},</if>
            <if test="lastUpdateTime != null">last_update_time = #{lastUpdateTime},</if>
        </trim>
        where id = #{id}
    </update>
</mapper>