<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.rcs.dao.RcsCarJobMapper">
    
    <resultMap type="com.deer.wcs.rcs.model.RcsCarJob" id="RcsCarJobResult">
        <result property="id"    column="id"    />
        <result property="taskId"    column="task_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="allotCarId"    column="allot_car_id"    />
        <result property="fromCellCode"    column="from_cell_code"    />
        <result property="toCellCode"    column="to_cell_code"    />
        <result property="palletCode"    column="pallet_code"    />
        <result property="status"    column="status"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="duration"    column="duration"    />
        <result property="errorCode"    column="error_code"    />
        <result property="errorMessage"    column="error_message"    />
    </resultMap>

    <resultMap id="Dto" extends="RcsCarJobResult"  type="com.deer.wcs.rcs.model.RcsCarJobDto" >
    </resultMap>

    <sql id="selectRcsCarJobVo">
        select id, task_id, create_time, create_user_name, allot_car_id, from_cell_code, to_cell_code, pallet_code, status, start_time, end_time, duration, error_code, error_message from rcs_car_job
    </sql>

    <select id="findList" parameterType="com.deer.wcs.rcs.model.RcsCarJobCriteria" resultMap="Dto">
        <include refid="selectRcsCarJobVo"/>
        <where>  
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="createTime != null  and createTime != ''"> and create_time = #{createTime}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
            <if test="allotCarId != null "> and allot_car_id = #{allotCarId}</if>
            <if test="palletCode != null  and palletCode != ''"> and pallet_code = #{palletCode}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="errorCode != null  and errorCode != ''"> and error_code = #{errorCode}</if>
        </where>
    </select>
    
    <select id="selectRcsCarJobById" parameterType="Long" resultMap="RcsCarJobResult">
        <include refid="selectRcsCarJobVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRcsCarJob" parameterType="com.deer.wcs.rcs.model.RcsCarJob" useGeneratedKeys="true" keyProperty="id">
        insert into rcs_car_job
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="allotCarId != null">allot_car_id,</if>
            <if test="fromCellCode != null">from_cell_code,</if>
            <if test="toCellCode != null">to_cell_code,</if>
            <if test="palletCode != null">pallet_code,</if>
            <if test="status != null">status,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="duration != null">duration,</if>
            <if test="errorCode != null">error_code,</if>
            <if test="errorMessage != null">error_message,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="allotCarId != null">#{allotCarId},</if>
            <if test="fromCellCode != null">#{fromCellCode},</if>
            <if test="toCellCode != null">#{toCellCode},</if>
            <if test="palletCode != null">#{palletCode},</if>
            <if test="status != null">#{status},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="duration != null">#{duration},</if>
            <if test="errorCode != null">#{errorCode},</if>
            <if test="errorMessage != null">#{errorMessage},</if>
         </trim>
    </insert>

    <update id="updateRcsCarJob" parameterType="com.deer.wcs.rcs.model.RcsCarJob">
        update rcs_car_job
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="allotCarId != null">allot_car_id = #{allotCarId},</if>
            <if test="fromCellCode != null">from_cell_code = #{fromCellCode},</if>
            <if test="toCellCode != null">to_cell_code = #{toCellCode},</if>
            <if test="palletCode != null">pallet_code = #{palletCode},</if>
            <if test="status != null">status = #{status},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="errorCode != null">error_code = #{errorCode},</if>
            <if test="errorMessage != null">error_message = #{errorMessage},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRcsCarJobById" parameterType="Long">
        delete from rcs_car_job where id = #{id}
    </delete>

    <delete id="deleteRcsCarJobByIds" parameterType="String">
        delete from rcs_car_job where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>