<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.rcs.dao.RcsCarTaskMapper">
    
    <resultMap type="com.deer.wcs.rcs.model.RcsCarTask" id="RcsCarTaskResult">
        <result property="id"    column="id"    />
        <result property="taskCode"    column="task_code"    />
        <result property="taskType"    column="task_type"    />
        <result property="priority"    column="priority"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="allotCarId"    column="allot_car_id"    />
        <result property="fromCellCode"    column="from_cell_code"    />
        <result property="toCellCode"    column="to_cell_code"    />
        <result property="palletCode"    column="pallet_code"    />
        <result property="status"    column="status"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="duration"    column="duration"    />
        <result property="errorCode"    column="error_code"    />
        <result property="errorMessage"    column="error_message"    />
    </resultMap>

    <resultMap id="Dto" extends="RcsCarTaskResult"  type="com.deer.wcs.rcs.model.RcsCarTaskDto" >
    </resultMap>

    <sql id="selectRcsCarTaskVo">
        select id, task_code, task_type, priority, create_time, create_user_name, allot_car_id, from_cell_code, to_cell_code, pallet_code, status, start_time, end_time, duration, error_code, error_message from rcs_car_task
    </sql>

    <select id="findList" parameterType="com.deer.wcs.rcs.model.RcsCarTaskCriteria" resultMap="Dto">
        <include refid="selectRcsCarTaskVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="taskCode != null  and taskCode != ''"> and task_code like concat('%', #{taskCode}, '%')</if>
            <if test="taskType != null  and taskType != ''"> and task_type = #{taskType}</if>
            <if test="createTime != null  and createTime != ''"> and create_time like concat('%', #{createTime}, '%')</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
            <if test="allotCarId != null "> and allot_car_id = #{allotCarId}</if>
            <if test="fromCellCode != null  and fromCellCode != ''"> and from_cell_code = #{fromCellCode}</if>
            <if test="toCellCode != null  and toCellCode != ''"> and to_cell_code = #{toCellCode}</if>
            <if test="palletCode != null  and palletCode != ''"> and pallet_code = #{palletCode}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="startTime != null  and startTime != ''"> and start_time like concat('%', #{startTime}, '%')</if>
            <if test="endTime != null  and endTime != ''"> and end_time like concat('%', #{endTime}, '%')</if>
        </where>
    </select>
    
    <select id="selectRcsCarTaskById" parameterType="Long" resultMap="RcsCarTaskResult">
        <include refid="selectRcsCarTaskVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRcsCarTask" parameterType="com.deer.wcs.rcs.model.RcsCarTask" useGeneratedKeys="true" keyProperty="id">
        insert into rcs_car_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskCode != null">task_code,</if>
            <if test="taskType != null">task_type,</if>
            <if test="priority != null">priority,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="allotCarId != null">allot_car_id,</if>
            <if test="fromCellCode != null">from_cell_code,</if>
            <if test="toCellCode != null">to_cell_code,</if>
            <if test="palletCode != null">pallet_code,</if>
            <if test="status != null">status,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="duration != null">duration,</if>
            <if test="errorCode != null">error_code,</if>
            <if test="errorMessage != null">error_message,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskCode != null">#{taskCode},</if>
            <if test="taskType != null">#{taskType},</if>
            <if test="priority != null">#{priority},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="allotCarId != null">#{allotCarId},</if>
            <if test="fromCellCode != null">#{fromCellCode},</if>
            <if test="toCellCode != null">#{toCellCode},</if>
            <if test="palletCode != null">#{palletCode},</if>
            <if test="status != null">#{status},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="duration != null">#{duration},</if>
            <if test="errorCode != null">#{errorCode},</if>
            <if test="errorMessage != null">#{errorMessage},</if>
         </trim>
    </insert>

    <update id="updateRcsCarTask" parameterType="com.deer.wcs.rcs.model.RcsCarTask">
        update rcs_car_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskCode != null">task_code = #{taskCode},</if>
            <if test="taskType != null">task_type = #{taskType},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="allotCarId != null">allot_car_id = #{allotCarId},</if>
            <if test="fromCellCode != null">from_cell_code = #{fromCellCode},</if>
            <if test="toCellCode != null">to_cell_code = #{toCellCode},</if>
            <if test="palletCode != null">pallet_code = #{palletCode},</if>
            <if test="status != null">status = #{status},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="errorCode != null">error_code = #{errorCode},</if>
            <if test="errorMessage != null">error_message = #{errorMessage},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRcsCarTaskById" parameterType="Long">
        delete from rcs_car_task where id = #{id}
    </delete>

    <delete id="deleteRcsCarTaskByIds" parameterType="String">
        delete from rcs_car_task where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>