<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deer.wcs.system.dao.SystemRequstMapper">
    
    <resultMap type="SystemRequst" id="SystemRequstResult">
        <result property="requestId"    column="request_id"    />
        <result property="fromSystem"    column="from_system"    />
        <result property="toSystem"    column="to_system"    />
        <result property="type"    column="type"    />
        <result property="interfaceName"    column="interface_name"    />
        <result property="param"    column="param"    />
        <result property="result"    column="result"    />
        <result property="state"    column="state"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <resultMap id="Dto" extends="SystemRequstResult"  type="SystemRequstDto" >
    </resultMap>

    <sql id="selectSystemRequstVo">
        select request_id, from_system, to_system, type, interface_name, param, result, state, create_time from system_requst
    </sql>

    <select id="findList" parameterType="SystemRequstCriteria" resultMap="Dto">
        <include refid="selectSystemRequstVo"/>
        <where>  
            <if test="fromSystem != null  and fromSystem != ''"> and from_system = #{fromSystem}</if>
            <if test="toSystem != null  and toSystem != ''"> and to_system = #{toSystem}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="interfaceName != null  and interfaceName != ''"> and interface_name like concat('%', #{interfaceName}, '%')</if>
            <if test="param != null  and param != ''"> and param like concat('%', #{param}, '%')</if>
            <if test="result != null  and result != ''"> and result like concat('%', #{result}, '%')</if>
            <if test="state != null "> and state = #{state}</if>
        </where>
    </select>
    
    <select id="selectSystemRequstByRequestId" parameterType="Integer" resultMap="SystemRequstResult">
        <include refid="selectSystemRequstVo"/>
        where request_id = #{requestId}
    </select>
        
    <insert id="insertSystemRequst" parameterType="SystemRequst" useGeneratedKeys="true" keyProperty="requestId">
        insert into system_requst
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fromSystem != null">from_system,</if>
            <if test="toSystem != null">to_system,</if>
            <if test="type != null">type,</if>
            <if test="interfaceName != null">interface_name,</if>
            <if test="param != null">param,</if>
            <if test="result != null">result,</if>
            <if test="state != null">state,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fromSystem != null">#{fromSystem},</if>
            <if test="toSystem != null">#{toSystem},</if>
            <if test="type != null">#{type},</if>
            <if test="interfaceName != null">#{interfaceName},</if>
            <if test="param != null">#{param},</if>
            <if test="result != null">#{result},</if>
            <if test="state != null">#{state},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSystemRequst" parameterType="SystemRequst">
        update system_requst
        <trim prefix="SET" suffixOverrides=",">
            <if test="fromSystem != null">from_system = #{fromSystem},</if>
            <if test="toSystem != null">to_system = #{toSystem},</if>
            <if test="type != null">type = #{type},</if>
            <if test="interfaceName != null">interface_name = #{interfaceName},</if>
            <if test="param != null">param = #{param},</if>
            <if test="result != null">result = #{result},</if>
            <if test="state != null">state = #{state},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where request_id = #{requestId}
    </update>

    <delete id="deleteSystemRequstByRequestId" parameterType="Integer">
        delete from system_requst where request_id = #{requestId}
    </delete>

    <delete id="deleteSystemRequstByRequestIds" parameterType="String">
        delete from system_requst where request_id in 
        <foreach item="requestId" collection="array" open="(" separator="," close=")">
            #{requestId}
        </foreach>
    </delete>
</mapper>